/*
*
* @copyright Copyright (C) 2007 - 2010 RuposTel - All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
* One Page checkout is free software released under GNU/GPL and uses code from VirtueMart
* VirtueMart is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* 
*/


div#vmMainPageOPC {
  clear: both; 
  float: none; 
  overflow: none; 
  margin: 0; 
  padding: 0; 
  /*position: relative; */
  margin-top: 30px;   
}
div#vmMainPageOPC {
  margin: 0; 
  padding: 0; 

}
/* stan custom modifications: */
.wrapper_coupon { width:100%; overflow:hidden;}
#couponcode_field form { margin:0;}
#couponcode_field { padding-bottom:10px; padding-top:20px; float:left;}
.input_coupon_div ,.details-button { float:left;}
/* end custom modifications */


div#vmMainPageOPC div.op_rounded div div div div#registertab, div#vmMainPageOPC div.op_rounded div div div div#logintab {
 margin-top: 50px; 
 padding-top: 20px; 
}

div#vmMainPageOPC fieldset {
  margin: 0; 
  padding: 0; 
  border: none !important; 
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formField2 {
    float: left;
    /*margin: 8px 2px 2px;*/
    vertical-align: middle;
    width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#vmMainPageOPC div.op_col5 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col5 span.opc_PricesalesPrice {
 text-align: left;
 color:#292f38;
}
div#vmMainPageOPC div.op_col7 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7 span.opc_PricesalesPrice {
 text-align: left;
 float: none;
 color:#e74c3c;
 font-size:16px;
 font-weight:500;
}

div#vmMainPageOPC h3 span.col-module_header_color {
 margin-left: 15px;
}

div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_r {
  
}


div#vmMainPageOPC  a:hover, div#vmMainPageOPC  a:active, div#vmMainPageOPC  a:focus, div#vmMainPageOPC .op_basket_row a:hover  {
  outline: none !important;
  
}

div#vmMainPageOPC textarea#customer_note_field {
 padding: 3px 3px 3px 3px !important;
}
div#vmMainPageOPC a.deletebtn, div#vmMainPageOPC a.deletebtn:hover {
 background: none;
 background: transparent url('images/remove_from_cart.png') no-repeat top left; 
 display: inline-block; 
 width: 20px; 
 height: 20px; 
}
#vmMainPageOPC iframe.tos_iframe {
 width: 95%; 
 height: 150px; 
}
#vmMainPageOPC input.updatebtn {
background: none;
background: transparent url('images/update_quantity_cart.png') no-repeat top left; 
 display: inline-block; 
 width: 20px; 
 height: 20px; 
 border: none; 
 
}

div#vmMainPageOPC div.loginsection {
 padding-top: 0px; 
}



div#tab_selector {
 margin-top: -19px;
}

div#vmMainPageOPC table tr td, div#vmMainPageOPC table tr, div#vmMainPageOPC table td {
 border: 0; 
 background: none;
}

div#vmMainPageOPC span#customer_note_input {
 margin-top: 10px;
}


#onepage_main_div h3 span span span span {
 padding: 0 !important; 
 margin: 0 !important; 
 background: none !important;
 /*margin-top: 10px !important;*/
 margin-left: 10px; 
} 
div#vmMainPageOPC div.op_basket_row div a.continue_link {
 padding: 0; 
 padding-left: 20px;
 margin: 0; 
 background: none;
 background-color: transparent;
}



/* set the width of the country field select dropdown */
div#vmMainPageOPC div#country_input select#country_field {
 width: 215px;
 max-width: 215px;
}


div#basket_container .black-basket {
 width: 100%;
}

div#onepage_main_div {
 margin: 0;
 margin-top: 30px; 
 padding: 0;
}
div#vmMainPageOPC .col-module_header_color {
 font-size: 12px !important;
 font-weight: bold; 
 color: #FFD11B;
}

#basket_container .opc_product_name {
   text-decoration: none; 
}


div#vmMainPageOPC .continue_link_ice span {
  color: #FFD11B;
  margin-left: 20px; 
}
div#vmMainPageOPC .op_round span#confirmbtn {
 background-image: url(images/button_paypal.png);
}
div#vmMainPageOPC button#confirmbtn_button .op_round {
 background-image: none;

}
div#vmMainPageOPC span#confirmbtn {
 text-align: left;
 font-weight: normal;
 padding-left: 20px;
 color: #FFFFFF;
}
span#op_separator {
 background: url(images/separator.png) no-repeat 0 0;
 width: 4px;
 vertical-align: top;
 height: 100%;
 line-height: 100%;
 white-space: wrap;
}
div#basket_container div.op_basket_row div.op_col6 form {
 float: left;
 clear: none; 
}
div#basket_container div.op_basket_row div.op_col7 div.PricesalesPrice {
 text-align: right;
}

div#onepage_main_div fieldset legend.sectiontableheader {
background: none;
padding: 0;
margin: 0;
border: none;

}
fieldset.op_fieldset strong {
 clear: both !important;
 width; 100%;
}
div#onepage_main_div fieldset.op_fieldset {
background: none !important;
padding: 0 !important;
margin: 0 !important;
border: none !important;
}



#basket_container div div div div div div div div div.op_basket_row {
 float: left;
 min-height: 30px;
 width: 100%;
 clear: both;
 vertical-align: center;
 background: url("images/othermenu_line.png") no-repeat scroll right bottom transparent;
 min-height: 35px;
 line-height: 35px;
 padding-bottom: 4px;
}
div#vmMainPageOPC .basket_container {
 clear: none; 
 white-space: no-wrap;
 float: left; 
}
span#op_round_and_separator {
 background-image: url(images/button_s.png);
 margin-left: -2px;
}
span#op_round_and_separator span {
 padding-left: 5px;
}

div#tab_selector button {
 background: none;
 background-color: transparent;
 color: white;
}
div#vmMainPageOPC span#span2 {
 background: none;
 background-color: transparent;
 padding-left: 30px;
}
div#vmMainPageOPC span#span1 {
background: url(images/separator.png) no-repeat left top; 
 padding-left: 0;
 padding-right: 0;
}
div#vmMainPageOPC .op_starttab  {
 background: url(images/button-left.png) no-repeat left top;
 line-height: 27px; 
}
div#vmMainPageOPC .op_tabs {
 margin: 0;
 padding: 0; 
 line-height: 27px; 
}
div#vmMainPageOPC .op_endtab {
background: url(images/button-right.png) no-repeat right top;
line-height: 27px; 
}
div#vmMainPageOPC .coupon {
  
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#tab_selector {
 height: 30px;
 padding: 0;
 padding-top: -20px;
 padding-left: 0px;
 margin: 0; 
}
 
div#vmMainPageOPC div.loginsection div.op_rounded div div div div div.op_rounded_fix {
 padding-left: 0; 
}

div#vmMainPageOPC table, div#vmMainPageOPC tbody {
 border: none !important; 
 
}
button#op_login_btn {
 position: relative; 
 left: 0%; 
 margin: 0; 
 padding: 0;
 float: none; 
 top: -20px; 
}
button#op_register_btn {
 position: relative;
 float: none; 
 left: 0; 
 top: -20px; 
 margin: 0;
 padding: 0;
 
 
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#customer_note_block{
width: 270px;
 float: left;
}
div#vmMainPageOPC div.formField select#title {
 max-width: auto; 
 width: auto; 
}
div#tab_selector button {

}
button#submit_coupon_button .op_round {
 margin: 0;
}
span#span_coupon_button {
 min-width: 150px;
}
span#span_coupon_button span span {
 background: none; 
 padding: 0; 
 margin: 0; 
 margin-right: 20px; 
}
span#span_coupon_button span {
 text-align: center;
 padding-left: 45px; 
 
}

textarea#customer_note_field {
 height: auto;
 width: auto;
 overflow: auto;
}
div#onepage_userfieds {
	width: 100%; 
	float: left;
}
div#vmMainPageOPC  div#onepage_total_inc_sh {
 padding-top: 10px;
 width: 100%;
}
div#vmMainPageOPC div#onepage_info_above_button {
 width: 100%;
}
div#vmMainPageOPC div#onepage_info_above_button div div {
 width: 100%;
}
div#onepage_submit_section {
	width: 100%; 
	float: left; 
	padding-top: 30px;
}
input#confirmbtn {
	width: 350px; 
	height: 40px;  
	padding: 20px;
}
div#onepage_login_box {
 padding: 20px; 
 text-align: center; 
 margin-top: 30px;
 margin-right: auto; 
 margin-left: auto; 
 width: 100%; 
}
div#onepage_login {
 text-align: left; 
 padding-left: 35%;
}
textarea#onepage_tos {
width: 100%;
}


div#onepage_total_inc_sh {
 width: 350px;
 float: left;
}
div#vmMainPageOPC div#totalam div {
 float: left;
 clear: both;
 width: 100%;
}
span#tt_total_txt {
 font-weight: bold;
}
div#totalam {

clear: both;
overflow:hidden;
}

div#vmMainPageOPC br.op_clear {
 clear: both;
}

div#tt_order_subtotal_div {
 width: 100%;
 float: left;
 clear: both;
}
div#tt_order_payment_discount_before_div {
 width: 100%;
 display: none;
 
}

div#tt_order_discount_before_div {
 width: 100%;
 display: none;

}

div#tt_shipping_rate_div {
 width: 100%;
 

}
div#tt_shipping_tax_div {
 width: 100%;
 display: none;

}

div#tt_tax_total_0_div {
 display: none;
width: 100%;
}

div#tt_tax_total_1_div {
 display: none;
width: 100%;
}

div#tt_tax_total_2_div {
 display: none;
width: 100%;
}

div#tt_tax_total_3_div {
 display: none;
width: 100%;
}

div#tt_tax_total_4_div {
 width: 100%;
 display: none;

}

div#tt_order_payment_discount_after_div {
 width: 100%;
 display: none;

}

div#tt_order_discount_after_div {
 width: 100%;
 display: none;

}
div#tt_total_div {
 width: 100%;

}

div#logintab .button {
 float: left;
}
div#vmMainPageOPC div.op_col2_2 a strong {
 color: #FFD11B;
}
select#shipping_inside_basket_select {
 font-family: monospace;
}

select#payment_inside_basket {
 font-family: monospace;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div  div#rbsubmit {
 padding-top: 20px;
 vertical-align: bottom;
 text-align: right;
 width: 40%; 
 min-width: 300px; 
 float: right;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div#customer_note_place {
  width: 40%; 
  float: left;
}
div#rbsubmit div {
 padding: 0;
 width: 350px;
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formLabel {
    clear: left;
    float: left;
    font-weight: bold;
    margin: 10px 10px 0 0;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 30%;
}
div#vmMainPageOPC div.continue_link_under_basket {
 margin-bottom: 30px; 
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formField {
    float: left;
    /*margin: 8px 2px 2px;*/
    vertical-align: middle;
    width: 100%;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#registertab div.formField {
 margin-top: 10px; 
 width: 75%; 
}


/* end CSS  for two column theme, remove this to have single column */
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#registertab div.formLabel {
 width: auto; 
 margin: 0; 
 margin-top: 10px; 
}
/* rounded corners Felix */
div#vmMainPageOPC div.op_inside {
}

div#vmMainPageOPC .checkoutarea {
    background: none repeat scroll 0 0 transparent !important;
    border: none !important;
	margin: 0 !important;    
    padding: 10px 0 !important;
    width: 100% !important;
    float: left !important;
    clear: both;
}

div#vmMainPageOPC div.op_rounded {
    background: url("images/col-module_br.png") no-repeat scroll right bottom transparent;
    margin: 0 0 30px;
    overflow: visible;
    float: left;
    width: 100%;
    
}

#onepage_main_div strong {
 text-decoration: none !important;
}
div#vmMainPageOPC .op_basket_row a {
 text-decoration: none;
}
#onepage_main_div button span span {
 /*background: none;*/
 text-indent: -25px;
 text-align: center;
}
#onepage_main_div #confirmbtn_button span span {
 text-indent: 0;
 text-align: left;
}
div#vmMainPageOPC .op_round {
 background-image: url(images/button.png);
 background-position: right top;
 background-repeat: no-repeat;
 color: #FFFFFF;
 cursor: pointer;
 display: inline-block;
 line-height: 27px;
 padding-right: 15px;

 text-decoration: none;
 vertical-align: middle;
 margin: 0;
 margin-right: 10px;
}
div#vmMainPageOPC   .op_round span span {
 background: none; 
 padding-right:30px;
}
div#vmMainPageOPC   .op_round span {
 background-image: url(images/button.png);
 background-position: left top;
 background-repeat: no-repeat;
 background-color: transparent;
 height: 29px;
 padding-left: -15px;
 display: inline-block;
 margin: 0;
}
span#op_round_and_separator {
 overflow: hidden;
}
div#vmMainPageOPC div.op_inside {
}
div#vmMainPageOPC div.op_rounded div {
    background: url("images/col-module_bl.png") no-repeat scroll left bottom transparent;
    padding-top: 20px;
    margin-top: -20px;
}
div#vmMainPageOPC div.op_rounded div div {
    background: url("images/col-module_tr.png") no-repeat scroll right top transparent;
        padding-top: 20px;
}
div#vmMainPageOPC div.op_rounded div div div {
    background: url("images/col-module_tl.png") no-repeat scroll left top transparent;
        padding-top: 0px;
    margin-top: -20px;
}
div#vmMainPageOPC div.op_rounded div div div div {
    background: none repeat scroll 0 0 transparent;
    padding-top: 0px;
    margin: 0;
	margin-top: 0px;
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix {
    clear: both;
    overflow: visible;
    padding: 9px 10px;
    /*position: relative;*/
    /*min-height: 200px; */
   
    
}
div#vmMainPageOPC div.op_rounded_content div {
    
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div {
 clear: none;
 position: static;
 padding-left: 10px;
 width: 95%;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div {
 clear: none;
 position: static;
 padding: 0;
 width: auto;
}


div#vmMainPageOPC div.op_rounded h3 span.col-module_header_arrow {
    padding: 0 15px;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_r {
    background: url("images/col-module_header_r.png") no-repeat scroll right center transparent;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_l {
    background: url("images/col-module_header_l.png") no-repeat scroll left center transparent;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_arrow {
    background: url("images/col-module_header_arrow.png") no-repeat scroll center bottom transparent;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_color {
    color: #015A80;
}
div#vmMainPageOPC div.op_rounded .op_rounded_content {
    margin-top: 0px;
    text-align: left;
    padding: 0;
}

div#vmMainPageOPC div.op_rounded {
    margin-right: 10px;
}

button#confirmbtn {
 top: 100px;
}

#basket_container .black-basket div.col-module_fix {
    clear: both;
    overflow: visible;
    padding: 0;
    position: relative;
}
#basket_container .black-basket h3 span.col-module_header_color {
    /*color: #FFFFFF;*/
}
#basket_container .black-basket .col-module_content div.op_basket_row {
}
#basket_container img.browseProductImage 
{
 margin-left: 4px;
}
#basket_container .black-basket {
    margin-right: 0px;
	margin-left: 0px;
}

#basket_container tr {
    /* background: url("images/othermenu_line.png") no-repeat scroll right bottom transparent; */
    border-bottom: 0.2px dotted #999999;
    color: #999999;
    font-size: 1em;
    height: 29px;
    line-height: 29px;
    padding: 0;
    position: relative;
    text-decoration: none;
}
#basket_container tr td {
 background: none;
}
div#vmMainPageOPC tbody {display:block; display:table-row-group;} /* IE and FF */
div#vmMainPageOPC table { empty-cells:show; }


/* address listing */
div#vmMainPageOPC div#staddresses div.op_field_name {
  width:40%; 
  float: left;
  margin: 0; 
  padding: 0; 
}
div#staddresses div.op_field_value {
 
 float: left; 
 clear: right; 
 margin:0; 
 padding:0;
 width:60%; 
}

div#staddresses div.op_radiowrapper {
 width: 10%; 
 margin: 0; 
 margin-top: 10px; 
 padding: 0; 
 float: left; 
 clear: left; 
}

div#staddresses div.op_labelwrapper {
 margin: 0; 
 margin-top: 10px; 
 padding: 0; 
 width: 90%; 
 float: left; 

 clear: right;  
}


div#vmMainPageOPC select {
  max-width: 100%; 
}
div.right_column_ice {
  width: 50%; 
  float: left;
}

div.st_min_height {
   width: 100%; 
   min-height: auto;
}
div#vmMainPageOPC div#ajaxshipping input, div#vmMainPageOPC div#payment_html input {
 clear: left; 
 float: left; 
 
 line-height: auto; 
}
div#vmMainPageOPC div#ajaxshipping input[type="radio"], div#vmMainPageOPC div#payment_html input[type="radio"] {
/*  max-width: 5%; */
}
div#vmMainPageOPC div#ajaxshipping input[type="text"], div#vmMainPageOPC div#payment_html input[type="text"], div#vmMainPageOPC div#payment_html select 
{
 
}
div#vmMainPageOPC div#ajaxshipping input[type="text"], div#vmMainPageOPC div#payment_html input[type="text"], div#vmMainPageOPC div#ajaxshipping select, div#vmMainPageOPC div#payment_html select
{
  max-width: 75%; 
}
div#vmMainPageOPC div#ajaxshipping br, div#vmMainPageOPC div#payment_html br {
 display: none; 
}
div#vmMainPageOPC div#ajaxshipping label, div#vmMainPageOPC div#payment_html label, div#agreed_div label {
 clear: right; 
 width: 99%; 
 line-height: auto; 
 display: block; 
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div#agreed_div {
 width: 100%; 
 text-align: left; 
 
}

input#agreed_field {
 margin-top: 0px; 
}
span.vmpayment_cardinfo {
 clear: both;
 float: left;
}

a.deletebtn, input.inputbox_update, input.updatebtn {
 
 clear: none; 
 float: left; 
}
input.inputbox {
 
}

div#basket_container input.inputbox_update {
 max-width: 40px !important; 
}

div#top_basket_wrapper .cart-view {
 padding-bottom:20px;
}
#basket_container .black-basket h3 {
}
#basket_container .black-basket .col-module_content {
    color: #696e6e;
	float: none;
	width: 100%;
	border:none;
	border-radius:6px;
	background:#fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.op_basket_row { overflow:hidden;}
.op_basket_row.op_basket_header { color:#696e6e; font-size:14px;  overflow:hidden;}
.op_basket_row.op_basket_rows , .op_basket_row.custom_chec{ border-top:1px solid #ecf0f1; }
 .op_basket_row.op_basket_rows.section2{background:#FDFCFC;}
.op_basket_row.op_basket_rows:hover { background:#fbfafa;}
.op_basket_row.op_basket_rows .img { width:100px; height:auto; float:left; margin-right:15px;}
.op_basket_row.op_basket_rows .img img { width:100%; height:auto;}
div#basket_container div.op_basket_row div.op_col1 div {
  
 position: relative; 
 top: 0; 
 left: 10px; 
}
div#basket_container div.op_basket_row div.op_col1 {
 width: 0;
 float: left;
color:#696e6e;
 overflow: visible;
 position: relative; 
 font-size:16px;
 
}
div#basket_container div.op_basket_row div.op_col2 {
 width: 41%;
 float: left;
   color:#696e6e;
  overflow: visible; border-right:1px solid #ecf0f1;
  padding:11px;
  display:table-column;
  font-size:16px;
}
div#basket_container div.op_basket_row div.op_col3 {
 width: 0%;
 float: left;
}
div#basket_container div.op_basket_row div.op_col4 {
 width: 13%;
 float: left;
    color:#696e6e;
  overflow: visible;
    border-right:1px solid #ecf0f1;
padding:11px;
display:table-column;
font-size:16px;
}
div#basket_container div.op_basket_row div.op_col5 {
 width: 15%;
 float: left;
   color:#696e6e;
  overflow: visible;
    border-right:1px solid #ecf0f1;
padding:11px;
display:table-column;
font-size:16px;
}
div#basket_container div.op_basket_row div.op_col6 {
 width: 13%;
 float: left;
   color:#696e6e;
 overflow: visible;
   border-right:1px solid #ecf0f1;
padding:11px;
font-size:16px;

}
div#basket_container div.op_basket_row div.op_col7 {
 width: 18%;
 float: left;
 text-align: left;
    color:#696e6e;
  overflow: visible;
  padding:11px;
  font-size:16px;

}
div#basket_container div.op_basket_row div.op_col1_4 {
 width: 82%;
 float: left;
 text-align: right;
   color:#696e6e;
  overflow: visible;
   padding:11px 12px 11px 12px;
   border-right:1px solid #ecf0f1;
   font-size:16px;
   font-weight:500;
}
div#basket_container div.op_basket_row.total div.op_col1_4 { color:#e74c3c;}
div#basket_container div.op_basket_row div.op_col5_3 {
 width: 18%;
 float: left;
 text-align: left;
    color:#292f38;
  overflow: visible;
   padding:11px;
   font-size:16px;
   font-weight:500;
}
div#basket_container div.op_basket_row #tt_total_basket{color:#e74c3c; font-weight:bold;}
#basket_container .cart-summary .cart-title { width:auto; float:none;}
#basket_container .cart-summary .cart-title a:hover { color:#e74c3c;}
#basket_container .cart-summary .quantity-input , #basket_container .cart_form .vm2-remove_from_cart { margin-left:0; clear:both; }
#basket_container .cart_form .vm2-add_quantity_cart { padding-left:0px;}
div#top_basket_wrapper .cart-view #couponcode_field {  margin-top:0px; margin-bottom:0px; padding-top:0; padding-bottom:0; float:left; }
#opc_basket { width:100%;}

 #tab_selector { color:#6a6a6a;}
#tab_selector li { padding-bottom:10px;}

#tab_selector {
   margin:0 0 0px 0; padding: 0; list-style:none; position:relative; z-index:99; clear:both; min-height:40px;
}
#tab_selector li {
	font-size:18px; line-height:20px; color:#292f38; text-transform:uppercase; font-weight:300; padding:14px 20px; background:#ecf0f1;border-radius:5px 5px 0 0;-webkit-transition: all 0.3s linear;-o-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-kthtml-transition: all 0.3s linear;transition: all 0.3s linear; margin-right:5px; position:relative; display:inline-block; cursor:pointer;
}
#tab_selector li:hover {
    background: #323a45; margin-top:0; color:#fff;
}
#tab_selector li.active, #tab_selector li.active:hover {
   background: #323a45; margin-top:0; color:#fff; cursor:default;
}
.loginsection .tabs {
    background:  #FFFFFF;
    border:none;
    border-radius: 0 6px 6px 6px;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 20px 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.formField { padding-bottom:10px; font-size:14px;}
#onepage_main_div.cart-view { border:none; background:none; padding:0; margin:0; margin-top:20px;}
#registertab input , #bill_to_section input , #shipto_section input{   background: #f5f7f8; border: 2px solid #E2E6E7; height: 40px; color:#292f38; line-height: 20px; margin-bottom: 5px; border-radius:4px; box-shadow:none!important; margin-bottom:20px; width:100%; font-weight:300;}
#vmMainPageOPC #registertab input.invalid { border:2px solid #e74c3c;}
#registertab .jq-checkbox { border:2px solid #E2E6E7; float:left; background:#f5f7f8; border-radius:2px; display:inline-block; padding:0!important; width:18px; height:18px; cursor:pointer; margin-right:5px;position:relative; top:2px; box-shadow:none;}
#registertab .jq-checkbox.disabled { cursor:default; border-color:#eceeef; background:#fcfdfe;}
#registertab .jq-checkbox.checked span , #registertab .jq-checkbox:hover span { display:block; width:11px; height:11px; background:url(images/check_box.png) left top no-repeat; position:relative; left:1px; top:1px; }
#registertab   .jq-checkbox.disabled span { display:none;}

#vmMainPageOPC  input.invalid { border:2px solid #e74c3c;}
.DisplayBlock { display:block!important;}
#sachoneL { margin-bottom:5px; margin-top:-7px; cursor:pointer; display:inline-block;color:#292f38;}
#sachoneL:hover { color:#e74c3c;}
#onepage_main_div  #virtuemart_state_id-styler , #onepage_main_div #shipto_virtuemart_state_id-styler { margin-bottom:20px;}
.op_inside.loginsection label {color:#696e6e; font-weight:300; margin-bottom:0px;}
.loginsection #registertab input { width:50%;}
#shipto_section input#sachone { width:12px;}
#opc_error_msgs{ margin-bottom:20px; overflow:hidden;}
#bill_to_section.cart-view  h3 { margin-bottom:20px;}
#bill_to_section.cart-view .formLabel  { display:block; overflow:hidden; clear:both;}
#vmMainPageOPC .jq-selectbox { margin-bottom:10px;}
#vmMainPageOPC .jq-selectbox .select {
    width: 85%;
	margin-bottom:10px;
}
#vmMainPageOPC  .jq-selectbox .dropdown {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #E4E4E2;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    margin: 0;
    padding: 0;
    top: 41px;
    width: 99%;
}
.cart-view .billing-box.after { padding-bottom:0;} 
#vmMainPageOPC input.invalid { color:#F00;}
#bill_to_section .font , #shipto_section .font { padding-bottom:20px;}
#bill_to_section .output-billto, #shipto_section .output-shipto { padding-bottom:0;}
.vmshipment_name , .vmpayment_name { font-size:16px; font-weight:bold;}
.shipping_method_section .op_rounded_content input[type="radio"] , .payment_method_section .op_rounded_content input[type="radio"] { margin-right:10px;}
.shipping_method_section .op_rounded_content  label , .payment_method_section .op_rounded_content label  { margin-bottom:10px;}
.shipping_method_section { width:100%; }
.payment_method_section  { width:100%;}
.shipping_method_section .op_rounded_content , .payment_method_section .op_rounded_content  , .custoterms .op_rounded_content , #checkoutForm .op_rounded_content { padding:20px; background:#fff; border-radius:6px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); padding-bottom:0; margin-bottom:30px;}
.custoterms .op_rounded_content { padding-bottom:20px; font-size:14px; line-height:21px; font-weight:300; color:#696e6e;}
#agreed_div label { margin-bottom:20px;}
#agreed_field {top:4px; margin-right:5px;}
 #totalam {
    border: 1px solid #ecf0f1;
    border-radius: 6px;
    color: #D9D9D9;
    float: none;
    width: 100%;
	margin-bottom:20px;
}


.bottom_totals_txt {
 width: 82%;
 float: left;
 text-align: right;
   color:#696e6e;
  overflow: visible;
   padding:11px 12px 11px 12px;
   border-right:1px solid #ecf0f1;
   font-size:16px;
   font-weight:500;
}
.bottom_totals {
 width: 12%;
 float: left;
 text-align: left;
    color:#292f38;
  overflow: visible;
   padding:11px;
   font-size:16px;
   font-weight:500;
}
#tt_total , #tt_total_txt{color:#e74c3c; font-weight:bold;}
#agreed_div label { color:#696e6e; font-weight:300; font-size:14px;}
#agreed_div a { margin-left:4px; text-decoration:none;}
 #totalam .op_basket_row:first-child { border:none;}
 div#checkoutForm textarea.customer-comment { width:100%;border:2px solid #e4e4e2; box-shadow:none; border-radius:3px; background:#f5f7f8; margin-top:5px;}
 .custom_chec.none { display:none;}
 #registertab .formLabel #register_account { float:left; width:12px; height:12px; margin-right:5px;}
 #username_input , #email_input { clear:both;}
 #onepage_main_div .billing-box.after:after { display:none;}
 #customer_note_input label { color:#696e6e;}
 .vmshipment_description, .vmshipment_name, .vmpayment_name, .vmpayment_description { font-weight:300;}
 .shipping_method_section #ajaxshipping label { float:left; width:93%!important; border-bottom:1px solid #ecf0f1;margin-bottom:40px; padding-bottom:20px;}
 .shipping_method_section #ajaxshipping .vmshipment_description { }

 .payment_method_section .payment_inner_html label { float:left; width:93%!important;border-bottom:1px solid #ecf0f1;margin-bottom:40px; padding-bottom:20px;}
 .payment_method_section .payment_inner_html .vmpayment_description {  }
#confirmbtn_button { height:50px; line-height:48px;}
  @media (min-width: 980px) and (max-width: 1199px) {
	  div#basket_container div.op_basket_row div.op_col2 { width:29%; }
		div#basket_container div.op_basket_row div.op_col1_4 { width:80%; padding-left:14px; padding-right:13px;}
		div.cart-view .login-box .inputbox, div.login-wrap.cart-view #username, #jform_email, div.login-wrap.cart-view #password { width:96%;}
		div#registertab input, div#bill_to_section input, div#shipto_section input { width:90%;}
		#vmMainPageOPC .jq-selectbox .select { width:80%;}
		.shipping_method_section , .payment_method_section { width:41%;}
		.bottom_totals_txt { width:80%;}
  }
  @media (min-width: 768px) and (max-width: 979px) {
	  	  div#basket_container div.op_basket_row div.op_col2 { width:24%; }
		  div#basket_container div.op_basket_row div.op_col4 { display:none;}
		  div#basket_container div.op_basket_row div.op_col6 { width:17%;}
		  		div#basket_container div.op_basket_row div.op_col1_4 { width:65%; padding-left:14px; padding-right:15px;}
				div#basket_container div.op_basket_row div.op_col5_3 { width:23%;}
				.billto-shipto .width50 { width:100%;}
				.billing-box.after:after { display:none;}
				#vmMainPageOPC .jq-selectbox .select { width:86%;}
				div.cart-view .text-indent2 { padding-left:0;}
						.shipping_method_section , .payment_method_section { width:90%;}
						.bottom_totals_txt { width:67%;}
						.bottom_totals { width:21%;}



  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
	  	  	  div#basket_container div.op_basket_row div.op_col2 { width:24%; }
		  div#basket_container div.op_basket_row div.op_col4 { display:none;}
		  div#basket_container div.op_basket_row div.op_col6 { width:17%;}
		  		div#basket_container div.op_basket_row div.op_col1_4 { width:44%;}
				div#basket_container div.op_basket_row div.op_col5_3 { width:40%; float:right; text-align:right;}
						div.cart-view .login-box .inputbox, div.login-wrap.cart-view #username, #jform_email, div.login-wrap.cart-view #password { width:90%;}

				.billto-shipto .width50 { width:100%;}
				.billing-box.after:after { display:none;}
				#vmMainPageOPC .jq-selectbox .select { width:86%;}
				div.cart-view .text-indent2 { padding-left:0;}
						.shipping_method_section , .payment_method_section { width:89%;}
						.bottom_totals_txt { width:67%;}
						.bottom_totals { width:21%;}
.op_basket_row.op_basket_rows .img { width:50px; float:none;}
 .custom_chec.none { display:block;}

}
  @media screen and (min-width: 320px) and (max-width: 480px) {
	  div#basket_container div.op_basket_row div.op_col5 { display:none;}
	  	  	  div#basket_container div.op_basket_row div.op_col2 { width:34%; font-weight:normal; padding:5px; }
			  div#basket_container .cart-summary .cart-title a { font-weight:normal; }
		  div#basket_container div.op_basket_row div.op_col4 { display:none;}
		  div#basket_container div.op_basket_row div.op_col6 { width:22%;padding:5px;}
		  		div#basket_container div.op_basket_row div.op_col1_4 { width:44%;}
				div#basket_container div.op_basket_row div.op_col5_3 { width:37%; float:right; text-align:right;}
				div#basket_container div.op_basket_row div.op_col7 { width:23px;padding:5px;}
						div.cart-view .login-box .inputbox, div.login-wrap.cart-view #username, #jform_email, div.login-wrap.cart-view #password { width:90%;}

				.billto-shipto .width50 { width:100%;}
				.billing-box.after:after { display:none;}
				#vmMainPageOPC .jq-selectbox .select { width:81%;}
				div.cart-view .text-indent2 { padding-left:0;}
						.shipping_method_section , .payment_method_section { width:84%;}
						.bottom_totals_txt { width:53%;}
						.bottom_totals { width:26%;}
.op_basket_row.op_basket_rows .img { width:50px; float:none;}
 .custom_chec.none { display:block;}
#basket_container .cart_form .vm2-add_quantity_cart { text-indent:-9999px;}
 #basket_container .cart_form .vm2-remove_from_cart {text-indent:-9999px; position:relative; top:2px;}
  #basket_container .cart-summary .quantity-input { margin-right:10px;}
 .loginsection #registertab input { width:90%;}
 #logintab #form-login-username , #logintab #form-login-password {
    margin-right: 40px;
    width: 99%;
}
}
