/*
*
* @copyright Copyright (C) 2007 - 2010 RuposTel - All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
* One Page checkout is free software released under GNU/GPL and uses code from VirtueMart
* VirtueMart is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* 
*/
div#vmMainPageOPC {
  clear: both; 
  float: none; 
  overflow: none; 
  margin: 0; 
  padding: 0; 
  /*position: relative; */
  margin-top: 10px;   
  font-family: 'Anton', sans-serif;
}

div#onepage_main_div .opc_section {
 /*overflow: auto; */
}
div#vmMainPageOPC div#opc_basket table input[type="text"] {
  max-width: 30px; 
}

.invalid {
 border: 1px solid red !important; 
}

div#opc_error_msgs {
 margin-bottom: 10px; 
 float: left; 
 clear: both; 
 width:100%; 
}
div#vmMainPageOPC table, div#vmMainPageOPC tbody {
border: none !important;
border-color: transparent; 

}


div#payment_html label, div#payment_html input, div#vmMainPageOPC div#ajaxshipping label, div#vmMainPageOPC div#ajaxshipping input {
 vertical-align: middle; 
} 
input#agreed_field {
 width: auto; 
}
input#agreed_field, div#agreed_div label {
 float: left; 
}
div#agreed_div label {
 width: 70%; 
 padding-left: 10px;
}

div#payment_html div, div#ajaxshipping input,div#ajaxshipping label  {
 margin-top: 5px; 
}

div#vmMainPageOPC  label {
  display: inline-block; 
  /*
  display: block; 
  position: relative; 
  width: 100px; 
  */
}
div#vmMainPageOPC h3 span.col-module_header_color {
 margin-left: 15px;
}

div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_r {
  
}
div#idsa {
 margin: 0; 
 padding: 0; 
 margin-top: 20px; 
}
div#vmMainPageOPC textarea#customer_note_field {
 padding: 3px 3px 3px 3px !important;
}
#vmMainPageOPC iframe.tos_iframe {
 width: 95%; 
 height: 150px; 
}

div#vmMainPageOPC div.loginsection {
 padding-top: 40px; 
}



div#tab_selector {
 margin-top: -19px;
}

div#vmMainPageOPC table tr td, div#vmMainPageOPC table tr, div#vmMainPageOPC table td {
 border: 0; 
 background: none;
}

div#vmMainPageOPC span#customer_note_input {
 margin-top: 10px;
}
#onepage_main_div h3, div#vmMainPageOPC h3, #onepage_main_div h3 span span span span {
 padding: 0 !important; 
 margin: 0 !important; 
 background: none !important;
 margin-top: 10px !important;
 margin-left: 10px; 
} 

/* set the width of the country field select dropdown */
div#vmMainPageOPC div#country_input select#country_field {
 width: 215px;
 max-width: 215px;
}


div#couponcode_field {
 
 float: none; 
 width: 100%; 
 margin-bottom: 10px;
 
}
div#couponcode_field form span {
 
}
div#vmMainPageOPC input#coupon_code {
 padding: 0;
 margin-right: 9px;
 min-width: 200px;
 width: 40%; 
 background: none;
 height: 20px;
 /*height: 28px;*/
 padding: 5px;
 margin-right: 0px;
 width: 50%;
 box-shadow:none;

}


div#couponcode_field form input {
 text-align: left;
 margin-left: auto; 
 margin-right: 0; 
 clear: both;
 display: block;
 width: 200px; 
}
#onepage_main_div button, #onepage_main_div button:active, #onepage_main_div button:focus  {
 background-color: transparent;
 border: none;
 outline: none !important; 
}
.opc_heading button, .opc_heading button:focus {
 outline: none !important; 
} 

/* FF fix for the buttons outlines */
#onepage_main_div button::-moz-focus-inner {
  border: 0;
}



#onepage_main_div  div#ship_to_wrapper {
 margin-bottom: 10px; 
 width: 100%; 
 right: 0; 
 
 margin-right: 0; 
}
#onepage_main_div .field_wrapper .field_wrapper {
 width: 100%; 
 position: absolute; 
 left: 0; 
 margin-bottom: 20px;
 overflow: inherit; 
}
#onepage_main_div .field_wrapper .field_wrapper div#agreed_div {
 position: relative; 
 width: 60%;
}
#onepage_main_div .field_wrapper #confirmbtn_button {
  position: absolute; 
  right: 0; 
  margin-bottom: 20px;
}
#onepage_main_div button#confirmbtn_button {
 
 border: none;
 min-width: 150px;
 padding: 0; 
 margin: 0; 
 background: none; 
 
 outline: none; 
 border: none; 
 border-radius: 3px;
 height: 35px; 
 margin-bottom: 20px; 
 
}
div#couponcode_field form button span {
 float: none;
}


div#onepage_main_div {
 width: 100%;
 margin: 0;
 padding: 0;
 float: left;
}
div#onepage_main_div .opc_section {
 clear: both; 
 float: right; 
 position: relative;  
 margin-top: 10px; 
 width: 74%; 
 
}

div#onepage_main_div .opc_very_bottom {
  margin-bottom: 40px; 
  margin-top: 0px;   
}
div#vmMainPageOPC .col-module_header_color {
 font-size: 12px !important;
 font-weight: bold; 
 
}

div#vmMainPageOPC a:hover, div#vmMainPageOPC a:active {
  background: none; 
  text-decoration: underline; 
 
}
div#vmMainPageOPC a {
 
  text-decoration: none; 
}

div#vmMainPageOPC .op_round span#confirmbtn {
 background-image: url(images/button_paypal.png);
}
div#vmMainPageOPC button#confirmbtn_button .op_round {
 background-image: none;

}
div#vmMainPageOPC span#confirmbtn {
 text-align: left;
 font-weight: normal;
 padding-left: 20px;
 
}
span#op_separator {
 background: url(images/separator.png) no-repeat 0 0;
 width: 4px;
 vertical-align: top;
 height: 100%;
 line-height: 100%;
 white-space: wrap;
}

div#onepage_main_div fieldset legend.sectiontableheader {
background: none;
padding: 0;
margin: 0;
border: none;

}

div#onepage_main_div fieldset.op_fieldset {
background: none !important;
padding: 0 !important;
margin: 0 !important;
border: none !important;
}


span#op_round_and_separator {
 background-image: url(images/button_s.png);
 margin-left: -2px;
}
span#op_round_and_separator span {
 padding-left: 5px;
}

div#tab_selector button {
 background: none;
 background-color: transparent;
 
}
div#vmMainPageOPC span#span2 {
 background: none;
 background-color: transparent;
 padding-left: 30px;
}
div#vmMainPageOPC span#span1 {
background: url(images/separator.png) no-repeat left top; 
 padding-left: 0;
 padding-right: 0;
}
div#vmMainPageOPC .op_starttab  {
 background: url(images/button-left.png) no-repeat left top;
 line-height: 27px; 
}
div#vmMainPageOPC .op_tabs {
 margin: 0;
 padding: 0; 
 line-height: 27px; 
}
div#vmMainPageOPC .op_endtab {
background: url(images/button-right.png) no-repeat right top;
line-height: 27px; 
}
div#vmMainPageOPC .coupon {
  
}

#onepage_main_div button.login_button {
 min-width: 150px;
 width: 20%;
 clear: both; 
 padding: 0; 
 margin: 0; 
 background: none; 

 outline: none; 
 border: none; 
 border-radius: 3px;
 
 
    height: 32px;

}
button#submit_coupon_button {
 position: absolute; 
 right: 0; 
 top: 0; 
 min-width: 150px;
 width: 20%;
 clear: both; 
 padding: 0; 
 margin: 0; 
 background: none; 
 
 outline: none; 
 border: none; 
 border-radius: 3px;
 
 
    height: 32px;
}
div#tab_selector {
 height: 30px;
 padding: 0;
 padding-top: -20px;
 padding-left: 30px;
}
button#op_login_btn {
  position: relative;
 margin: 0; 
 padding: 0;

}
button#op_register_btn {
 position: relative;
 margin: 0;
 padding: 0;
 margin-left: -24px; 
}
div#tab_selector button {

}
button#submit_coupon_button .op_round {
 margin: 0;
}
span#span_coupon_button {
 min-width: 150px;
}
span#span_coupon_button span span {
 background: none; 
 padding: 0; 
 margin: 0; 
 margin-right: 20px; 
}
span#span_coupon_button span {
 text-align: center;
 padding-left: 45px; 
 
}
div#vmMainPageOPC div.coupon_text_field  div.formField
{
  position: absolute; 
  right: 25%; 
  top: 0; 
  left: auto; 
}

textarea#customer_note_field {
 height: auto;
 width: auto;
 overflow: auto;
}
div#onepage_userfieds {
	width: 100%; 
	float: left;
}
div#onepage_info_above_button {
	text-align: center; 
	margin: auto;
}
div#vmMainPageOPC  div#onepage_total_inc_sh {
 padding-top: 10px;
 width: 100%;
}
div#vmMainPageOPC div#onepage_info_above_button {
 width: 100%;
}
div#vmMainPageOPC div#onepage_info_above_button div div {
 width: 100%;
}
div#onepage_submit_section {
	width: 100%; 
	float: left; 
	padding-top: 30px;
}
input#confirmbtn {
	width: 350px; 
	height: 40px;  
	padding: 20px;
}
div#onepage_login_box {
 padding: 20px; 
 text-align: center; 
 margin-right: auto; 
 margin-left: auto; 
 width: 100%; 
}
div#onepage_login {
 text-align: left; 
 padding-left: 35%;
}
textarea#onepage_tos {
width: 100%;
}

div#vmMainPageOPC span.bottom_totals_txt {
width: 30%;
text-align: right;
float: left;
padding-left: 40px;
}

div#vmMainPageOPC span.bottom_totals {
/* width: 67%; */
text-align: left;
padding-left: 3%;
float: left;
padding-left: 35px;

}
div#onepage_total_inc_sh {
 width: 350px;
 float: left;
}
div#vmMainPageOPC div#totalam div {
 float: left;
 clear: both;
 width: 100%;
}
span#tt_total_txt {
 font-weight: bold;
}
div#totalam {

width: 350px;
clear: both;
float: left;
margin: 0 auto;
padding-left: 40px;
}

div#vmMainPageOPC br.op_clear {
 clear: both;
}

div#tt_order_subtotal_div {
 width: 100%;
 float: left;
 clear: both;
}
div#tt_order_payment_discount_before_div {
 width: 100%;
 display: none;
 
}

div#tt_order_discount_before_div {
 width: 100%;
 display: none;

}

div#tt_shipping_rate_div {
 width: 100%;
 

}
div#tt_shipping_tax_div {
 width: 100%;
 display: none;

}

div#tt_tax_total_0_div {
 display: none;
width: 100%;
}

div#tt_tax_total_1_div {
 display: none;
width: 100%;
}

div#tt_tax_total_2_div {
 display: none;
width: 100%;
}

div#tt_tax_total_3_div {
 display: none;
width: 100%;
}

div#tt_tax_total_4_div {
 width: 100%;
 display: none;

}

div#tt_order_payment_discount_after_div {
 width: 100%;
 display: none;

}

div#tt_order_discount_after_div {
 width: 100%;
 display: none;

}
span#tt_total {

 font-weight: bold;
}
div#tt_total_div {
 width: 100%;

}
div#logintab  a {
 
 text-decoration: none; 
}
div#logintab  a:hover, div#logintab  a:active {

 text-decoration: underline;
 background: none;  
}


div#logintab .button {
 float: left;
 height: 25px; 
 width: 150px; 
 background: none;
 
 
 border: none; 
 border-radius: 3px; 
}

div.vm-customfield-cart span, #basket_container  .product-field-type-B,#basket_container  .product-field-type-S, #basket_container  .product-field-type-I {
 background: none no-repeat left top; 
 
 background-position: 0 -2px;
 padding-left: 20px; 
 
}
select#shipping_inside_basket_select {
 font-family: monospace;
}

select#payment_inside_basket {
 font-family: monospace;
}

div#title_input select, div#shipto_title_input select  {
 
  background: none repeat scroll 0 0 transparent;
  box-shadow: 1px 1px 3px 1px gainsboro inset;
  height: 30px; 
  padding-right: 5px; 
  padding-bottom: 5px;
  width:60px; 
  font-size: 14px; 
  line-height: 30px;
  vertical-align: middle;
  display:inline-block;
  text-indent:2px;
  padding-top:4px;
}

div#rbsubmit {
 padding-top: 20px;
 vertical-align: bottom;
 text-align: right;
}
div#rbsubmit div {
 padding: 0;
 width: 350px;
}
div#vmMainPageOPC  div.field_wrapper {
 position: relative; 
 clear: both; 
 float: none; 
 overflow: visible; 
 width: 100%; 
 min-height: 30px; 
 padding-bottom: 10px;
} 
div#vmMainPageOPC  div.opc_inside div.multicheckbox {
 position: relative; 
 clear: both; 
 float: none; 
 overflow: visible; 
 width: 100%; 
 height: auto !important;
 min-height: 30px; 
} 
div#vmMainPageOPC  div.opc_inside div.radio {
 position: relative; 
 clear: both; 
 float: none; 
 overflow: visible; 
 width: 100%; 
 height: auto !important;
 min-height: 30px; 
 padding-left:0px;
}
div#vmMainPageOPC  div.opc_inside div.checkbox {
 padding-left:0px;
}
div#vmMainPageOPC  div.formLabel {
 
    position: absolute; 
    
       font-weight: normal;
    /*margin: 10px 10px 0 0;*/
	margin-top: 3px; 
	margin: 0; 
    vertical-align: middle;
    /*white-space: nowrap;*/
    width: 20%;
	
	clear: left; 
	top: 0; 
}

@media (max-width: 850px ){
div#vmMainPageOPC  div#virtuemart_state_id_div{
	margin-top:-15px;
}
div#vmMainPageOPC  div#socialNumber_div{
	margin-top:-15px;
}
}

div#vmMainPageOPC div#agreed_div.formLabel {
 white-space: normal; 
}

div#vmMainPageOPC div.continue_link_under_basket {
 margin-bottom: 30px; 
}
div#vmMainPageOPC  div.formField {
    position: relative; 
	left: 25%; 
    /*margin: 8px 2px 2px;*/
	margin: 0; 
    vertical-align: middle;
    width: 70%; 
	top: 0; 
	clear: right; 
}
div#vmMainPageOPC  div#GenderTest_input{
	padding-left:20px;
}
div#vmMainPageOPC  div#Subscribe_input{
	padding-left:20px;
}

div#vmMainPageOPC div.formField input  {
    background: none repeat scroll 0 0 transparent; /*#FFFFFF;*/
	z-index: 1;
   
    /*box-shadow: 1px 1px 15px 4px #DDDDDD inset;*/
    
    display: block;
    font-weight: lighter;
    /*padding: 2px;*/
	
   padding: 5px;
	
}
div#vmMainPageOPC div.formField input[type="radio"], div#vmMainPageOPC div.formField input[type="checkbox"] {
 box-shadow: none; 
 border: none; 
}
div#vmMainPageOPC div.radio div.formField input {
    float: left; 
	clear: left; 
	
}
div#vmMainPageOPC div.multicheckbox div.formField *  {
  float: left; 
  clear: both; 
}

div#vmMainPageOPC input#first_name_field, div#vmMainPageOPC input#shipto_first_name_field {
  /*width: 71%;*/
}
div#vmMainPageOPC input#zip_field, div#vmMainPageOPC input#shipto_zip_field {
  /*width: 20%; */
}
div#vmMainPageOPC input#city_field, div#vmMainPageOPC input#shipto_city_field {
  /*width: 50%; */
}
div#vmMainPageOPC div#city_div, div#vmMainPageOPC div#shipto_city_div {
  /*left:50%;*/
}
div#vmMainPageOPC div#first_name_input, div#vmMainPageOPC div#shipto_first_name_input {
 /*left: 45%;*/
}
div#vmMainPageOPC div#city_input, div#vmMainPageOPC div#shipto_city_input {
 /*left: 60%;*/
}
div#vmMainPageOPC div#opc_password_div, div#vmMainPageOPC div#password2_div {
  /*left: 40%; */
}
div#vmMainPageOPC div#opc_password_input, div#vmMainPageOPC div#opc_password2_input, div#vmMainPageOPC div#password2_input, div#vmMainPageOPC div#username_input {
 left: 67%
}
div#vmMainPageOPC input#opc_password_field, div#vmMainPageOPC input#opc_password2_field, div#vmMainPageOPC input#password2_field, div#vmMainPageOPC input#username_field {
 width: 35%;
}

div#vmMainPageOPC div.radio div.formField label, div#vmMainPageOPC div.multicheckbox div.formField label   {
  float: left; 
  clear: right; 
}
div#vmMainPageOPC div.formField input[type="password"],div#vmMainPageOPC div.formField input[type="search"], div#vmMainPageOPC div.formField input[type="text"] {
  width: 100%; 
}

/* rounded corners Felix */
div#vmMainPageOPC div.op_inside {
    /*margin-bottom: -20px;*/
/*    margin-top: -15px; */
    margin-top: 0px; 
/*    padding-top: 15px;  */
    
    margin-right: 0; 
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;	 
    padding-bottom: 5px;
    padding-top: 10px;

}

div#vmMainPageOPC div.op_rounded_content div div {
 padding-top: 20px;

}
div#vmMainPageOPC .checkoutarea {
    background: none repeat scroll 0 0 transparent !important;
    border: none !important;
	margin: 0 !important;    
    padding: 10px 0 !important;
    width: 100% !important;
    float: left !important;
    clear: both;
}

div#vmMainPageOPC div.op_rounded {
    background: url("images/col-module_br.png") no-repeat scroll right bottom transparent;
    margin: 0 0 30px;
    overflow: visible;
    float: left;
    width: 100%;
    
}

#onepage_main_div button {
 background: none;
 background-color: transparent;
 border: medium none;
 cursor: pointer;
 overflow: visible;
 padding: 0 2px;
 white-space: nowrap;
 width; auto;
}
div#vmMainPageOPC button:hover .op_round {
 background-position: right bottom;

}
div#vmMainPageOPC button:hover .op_round span {
 background-position: left bottom;
}


#onepage_main_div .op_round:hover {
 background-position: right bottom;
 
}
#onepage_main_div .op_round:hover span {
 background-position: left bottom;
}

#onepage_main_div button span span {
 /*background: none;*/
 text-indent: -25px;
 text-align: center;
}
#onepage_main_div #confirmbtn_button span span {
 text-indent: 0;
 text-align: left;
}
div#vmMainPageOPC .op_round {
 
 background-position: right top;
 background-repeat: no-repeat;

 cursor: pointer;
 display: inline-block;
 line-height: 27px;
 padding-right: 15px;

 text-decoration: none;
 vertical-align: middle;
 margin: 0;
 margin-right: 10px;
}
div#vmMainPageOPC   .op_round span span {
 background: none; 
}
div#vmMainPageOPC   .op_round span {
 background-image: url(images/button.png);
 background-position: left top;
 background-repeat: no-repeat;
 background-color: transparent;
 height: 29px;
 padding-left: -15px;
 display: inline-block;
 margin: 0;
}
span#op_round_and_separator {
 overflow: hidden;
}
div#vmMainPageOPC div.op_inside {
}
div#vmMainPageOPC div.op_rounded div {
    background: url("images/col-module_bl.png") no-repeat scroll left bottom transparent;
    padding-top: 20px;
    margin-top: -20px;
}
div#vmMainPageOPC div.op_rounded div div {
    background: url("images/col-module_tr.png") no-repeat scroll right top transparent;
        padding-top: 20px;
}
div#vmMainPageOPC div.op_rounded div div div {
    background: url("images/col-module_tl.png") no-repeat scroll left top transparent;
        padding-top: 0px;
    margin-top: -20px;
}
div#vmMainPageOPC div.op_rounded div div div div {
    background: none repeat scroll 0 0 transparent;
    padding-top: 0px;
    margin: 0;
	margin-top: 0px;
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix {
    clear: both;
    overflow: visible;
    padding: 9px 10px;
    /*position: relative;*/
    /*min-height: 200px; */
   
    
}
div#vmMainPageOPC div.op_rounded_content div {
    
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div {
 clear: none;
 position: auto;
 padding-left: 10px;
 width: 95%;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div {
 clear: none;
 position: auto;
 padding: 0;
 width: auto;
}


div#vmMainPageOPC div.op_rounded h3 {
    
    display: inline-block;
    font-size: 1em;
    margin-top: -50px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_r, div#vmMainPageOPC div.op_rounded h3 span.col-module_header_l, div#vmMainPageOPC div.op_rounded h3 span.col-module_header_arrow {
    display: inline-block;
    height: 43px;
    line-height: 31px;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_arrow {
    padding: 0 15px;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_r {
    background: url("images/col-module_header_r.png") no-repeat scroll right center transparent;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_l {
    background: url("images/col-module_header_l.png") no-repeat scroll left center transparent;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_arrow {
    background: url("images/col-module_header_arrow.png") no-repeat scroll center bottom transparent;
}
div#vmMainPageOPC div.op_rounded .op_rounded_content {
    margin-top: 14px;
    text-align: left;
    padding: 0;
}

div#vmMainPageOPC div.op_rounded {
    margin-right: 10px;
}

button#confirmbtn {
 top: 100px;
}

div#vmMainPageOPC tbody {display:block; display:table-row-group;} /* IE and FF */
div#vmMainPageOPC table { empty-cells:show; }


/* address listing */
div#vmMainPageOPC div#staddresses div.op_field_name {
  width:40%; 
  float: left;
  margin: 0; 
  padding: 0; 
}
div#staddresses div.op_field_value {
 
 float: left; 
 clear: right; 
 margin:0; 
 padding:0;
 width:60%; 
}

div#staddresses div.op_radiowrapper {
 width: 10%; 
 margin: 0; 
 margin-top: 10px; 
 padding: 0; 
 float: left; 
 clear: left; 
}

div#staddresses div.op_labelwrapper {
 margin: 0; 
 margin-top: 10px; 
 padding: 0; 
 width: 90%; 
 float: left; 

 clear: right;  
}


/* basket formatting */
div#basket_container div.op_basket_row div#tt_order_subtotal_basket.op_col5_3, div#basket_container div.op_basket_row div#tt_shipping_rate_basket.op_col5_3, div#basket_container div.op_basket_row div#tt_tax_total_0_basket.op_col5_3  {
font-size: 12px;
}

div#top_basket_wrapper {
 width: 100%;
 float: none; 
 clear: both;
}

#vmMainPageOPC div.basket_name {
 float: none; 
 clear: left; 
 width: 30% !important;
}
#vmMainPageOPC div.basket_name h3 {
 margin: 0; 
 padding: 0; 
 
}
div.op_col2_6 a {
 text-decoration: none; 
 
 font-size: 16px;
 
 text-align: left;
 }
div.op_col2_6 a:hover {
 text-decoration: underline; 


}

div.black_basket {
 

}

div.op_basket_row {
 margin-top: 5px;
 margin-bottom: 5px;
}
div.op_basket_row div a.continue_link {
 padding: 0; 
 padding-left: 20px;
 margin: 0; 
 background: none;
 background-color: transparent;
}

div#basket_container {
 width: 100%;
 float: none;
 clear: both;
 margin-bottom: 15px;
}
div.basket_content {
 border: none; 
 background: none; 
 background-color: transparent;
 padding: 0; 
 margin: 0; 
}

div#basket_container .black-basket {
 width: 100%;
}
div#basket_container div {
 width: 100%;
}
div#basket_container div div {
 width: 100%;
}
div#basket_container div div div {
 width: 100%;
}
div#basket_container div div div div {
 width: 100%;
}
div#basket_container div div div div div {
 width: 100%;
}
div#basket_container div div div div div div.top_b {
 position: relative;
 float:none;
 overflow: none;
 width: 100%;
 
}

#basket_container div div div div div div div div div.op_basket_header.op_basket_row {
 background: none; 
 
 
 width: 100%; 
 margin-bottom: 0; 
 padding: 0;
 height: 40px;
 min-height: 25px;
 
}
/* product quantity */ 
div#basket_container div.op_basket_row div.op_col6 form input.inputbox {
  /*
  height: 20px; 
  padding: 1px 1px 1px 1px; 
  margin: 0; 
  */
 
  background-position:0 -40px;
 
  text-decoration:none;
 
  border-radius: 0 !important; 
  height: 17px; 
  box-shadow: none; 
  padding: 0 3px 0 3px;
  font: normal 12px/17px Arial, Helvetica, sans-serif; 
  min-width: 30px;
  outline: none; 
  line-height: auto; 
  text-align: center;
  text-indent: 0; 
  margin-left:-15px;
  
}

#vmMainPageOPC input.updatebtn, #vmMainPageOPC input.deletebtn {
 margin-left: 4px; 
}
#basket_container div div div div div div div div div.op_basket_header.op_basket_row div {
 
 font-weight: bold;
 padding: 5px; 
 
 margin: 0; 
 text-indent: 5px; 
}


div#basket_container div.op_basket_row div.op_col1 {
 width: 10%;
 float: left;
   
  overflow: visible;
  height: 100%;
  max-height: 70px; 
}
div#basket_container div.op_basket_row div.op_col2 {
 width: 30%;
 float: left;
   
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col3 {
 width: 10%;
 float: left;
  
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col4 {
 width: 10%;
 float: left;
   
  overflow: visible;
 display: none;
}
div#basket_container div.op_basket_row div.op_col5 {
 width: 10%;
 float: left;
    
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col6 {
 width: 30%;
 float: left;

 overflow: visible;
}
div#basket_container div.op_basket_row div.op_col6 form {
 float: left;
}
div#basket_container div.op_basket_row div.op_col6 form input {
 float: left !important;
}
div#basket_container div.op_basket_row div.op_col7 {
 position: relative; 
 height: 100%;
 width: 19%;
 float: left;
 text-align: right;
 max-height: 32px; 
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col7 div {
 position: absolute; 
 top: 50%; 
}
div#basket_container div.op_basket_row div.op_col1_4 {
 width: 85%;
 float: left;
 text-align: right;
    
	
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col5_3 {
 width: 12.5%;
 text-align: right;
 
 overflow: visible;
 padding-right: 5px; 
 float: right;
}
div#basket_container span.subtotal_desc {
 font-weight: normal; 
 font-size: 12px;
}
div#basket_container div.op_basket_row div.op_col2_2 div.opc_PricesalesPrice span.opc_PricesalesPrice {
 font-size: 12px;  
 
 clear: both; 
   clear: both;
   
    float: left;
    font-size: 12px;
}
div#basket_container div.op_basket_row div.op_col2_2 {
 width: 40%;
 float: left;
   
  overflow: visible;
 font-size: 12px; 
}

div#basket_container div.op_basket_row div.op_col2_6 {
 float: right;
 width: 40%;
 
   
  overflow: visible;
  height: 100%;
  position: relative;
}

div#basket_container div.op_basket_row div.op_col2_3 {
 width: 50%;
float: left;
   
  overflow: visible;
}
div#onepage_main_div fieldset legend.sectiontableheader {
background: none;
padding: 0;
margin: 0;
border: none;

}
#basket_container div div div div div div div div div.op_basket_row:hover {
 /*background: none repeat scroll 0 0 #FFFFCC;*/
}

#vmMainPageOPC div.op_col6 form input.inputbox  {
  width: 30px;
  
 

  display: block;
  padding: 5px; 
 }
#vmMainPageOPC div.op_col6 form input.inputbox:hover {
 
  display: block;
  padding: 5px; 
}

#basket_container div div div div div div div div div.op_basket_row {
 position: relative; 
 margin-left:-1px; 
 float: left;
 min-height: 15px;
 width: 100%;
 clear: both;
 vertical-align: center;
 background: none;
 border: none;
 margin: 0; 
 padding: 0;
 padding-top: 5px;
  padding: 8px 0 0;
 
 /*line-height: 35px;*/
/* margin-bottom: 10px; */
 clear: both;
 background: none; 
 background-color: transparent;

 
}
.basket_container {
 clear: none; 
 white-space: no-wrap;
 float: left; 
}

#basket_container .opc_product_name, #basket_container a {
 
  text-decoration: none;
  font-size: 14px; 
  font-weight: bold; 
  line-height: auto; 
  text-align: left; 
}
#basket_container a.opc_product_name:hover, a.opc_product_name:focus  {
  
  background-color: transparent; 
  text-decoration: underline; 
 
}
#basket_container .op_col2_2 .vm-customfield-cart {
 
 width: 100%; 
 padding: 0; 
 
}

#basket_container .op_col6 input.inputbox {
 border: none; 
 
 background: white; 
 height: 20px; 
 width: 40px; 
 font-size: 10px; 
 text-align: middle; 
}
#basket_container .quantity_lb {
 font: normal 12px/17px Arial, Helvetica, sans-serif;
 
 float: left; 
}
#basket_container .vertical_align {
 height: 25px; 
 position: relative; 
 width: 250px; 
 
}
#basket_container div.vertical_line {
 position: absolute; 
 bottom: 20%;
 right: 20%; 
 width: 1px; 
 height: 55%; 
 margin-top: 25%; 
 *margin-top: 20px; 
 /*margin-bottom: 20px;  */
 

}
#basket_container div.vertical_align div.inside_v {
  position: absolute; 
  top: 50%; 
 
}
/* quantity label */ 
#basket_container .vertical_align div.qlabel span {
  min-width: 80px;
  width: 20%; 
  position: absolute; 
  top: 3px; 
  left: 0;   
}
/* quantity input box */ 
#basket_container .vertical_align div.ulabel input.inputbox {
  min-width: 60px; 
  width: 6%; 
  position: absolute; 
  left: 25%; 
  height: 22px !important;   
}
/* update button */ 
#basket_container .vertical_align div.ulabel input.updatebtn {
  width: 60px; 
  position: absolute; 
  left: 40%;    
  top: 0; 
}
/*delete button */ 
#basket_container .vertical_align div.dlabel  a.deletebtn{
  position: absolute; 
  width: 25px;
  left: 55%; 
}


#basket_container .vertical_align * {
 
 
}
#vmMainPageOPC #basket_container input.updatebtn {
background: none;
background: transparent url('images/refresh.png') no-repeat top left; 
 display: inline-block; 
 width: 22px; 
 height: 25px; 
 border: none; 
vertical-align: middle;
cursor:pointer;
 margin-left:-10px;
}


#vmMainPageOPC #basket_container a.deletebtn, #vmMainPageOPC #basket_container a.deletebtn:hover {
 background: none;
 background: transparent url('images/can.png') no-repeat top left; 
 display: inline-block; 
 width: 22px; 
 height: 25px; 
 vertical-align: middle; 
 margin-left: 20px;
}
#basket_container .op_basket_header .op_basket_row {
 overflow: visible; 
 display: inline-block; 
}
#basket_container .op_basket_header .op_basket_row .op_col5 {
 display: none; 
}
#basket_container .op_col5 {
 display: none; 
}
#basket_container .op_col7 div.div2 {

  height: 30px; 
}


#basket_container .product_wrapper {
 position: relative;
 
 margin: 0; 

 margin-right: -1px; 
 padding: 0; 
 background: none; 
 float: left;
 width: 100%; 
 
/* border-width: medium 1px 1px;*/
 
 
 
}
#basket_container .product_wrapper .inside_product_wrapper {
 position: relative;
 left: -2px; 
 
 z-index: 1;
 border-top: none; 
 
 float: left;
 width: 94%;
 padding-right: 3%; 
 padding-left: 3%; 
 clear: both;
   
 
}

#basket_container .opc_PricesalesPrice {
  
  /*font: normal 22px/21px Arial, Helvetica, sans-serif;*/
  font-size: 18px; 
  font-family: 'Anton', sans-serif;
}
#basket_container .op_basket_row .opc_total_price, div#basket_container div.op_basket_row div.op_col5_3 {
 
 font-size: 12px; 
 font-family: 'Anton', sans-serif;

}
#basket_container .op_basket_row  #tt_total_basket {
  font: normal 18px/21px Arial, Helvetica, sans-serif;
}

#basket_container .opc_separator2 {
 height: 1px; 
 background: none; 
 width: 250px; 
 float: right; 
 clear: both;
 margin-top: 15px;
  
}

div#vmMainPageOPC div.op_col5 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col5 span.opc_PricesalesPrice {
 text-align: left;
}
div#vmMainPageOPC div.op_col7 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7 span.opc_PricesalesPrice {
 text-align: right;
 float: right;
}


/* end of basket */ 
/* top registration business, customer, login section */ 
div#vmMainPageOPC .opc_top_inner {
 width: 74%; 
 /*margin-left: -10px; */
 margin-left: -4%;
 /*margin-right: -14px; */
 margin-right: -4%;
 clear: right; 
 float: left;
 position: relative; 
 top: 0; 
 z-index: 1;
}

div#vmMainPageOPC .opc_inside {
 
 margin: -2px -2px -2px -2px; 
 margin-left: 0px; 
 margin-right: 0px; 
 padding: 10px 10px 10px 30px; 
 
  padding: 20px 10px 10px 20px;
}
 
 }
div#vmMainPageOPC .top_section {
 width: 100%; 
 margin: 0; 
 padding: 0; 
}
div#vmMainPageOPC .opc_menu {
 width: 30%; 
 
}
div#vmMainPageOPC .opc_customer {
 width: 100%; 
}
div#vmMainPageOPC .opc_business {
 width: 100%; 
 clear: both; 
}
div#vmMainPageOPC .opc_login {
 position: relative; 
 padding: 0; 
 margin: 0; 
}
div#vmMainPageOPC .opc_login .opc_inside {
 position: relative; 
 margin-top: 0px; 
}

div.opc_heading {
   /*margin-left: -2px; */
   
}
/* end of top section business, customer, login */ 
/* opc menu */
div.opc_menu {
 position: relative; 
 float: left;
}
div.opc_menu span.opc_title, div.opc_heading button span.opc_title {
 top: auto !important; 
}
div.opc_menu span.opc_title, div.opc_heading span.opc_title {
vertical-align: middle; 
 margin-top: auto; 
 margin-bottom: auto; 
 height: 40px; 
 position: relative; 
 top: 30%;
 font-size: 12px; 
}
div.opc_menu_active, div.opc_heading {
 height: 40px; 
 vertical-align: middle; 
 text-align: left; 
 text-indent: 20px; 
 background: none; 

 clear: right; 
 width: 100%;  
 position: relative;


}


#onepage_main_div div.menu_overflow {
  position: relative; 
  width: 90%; 
  clear: right; 
  float: none; 
  overflow: visible; 
  clear: both; 
  
}
#onepage_main_div div.opc_menu_item {
 position: relative; 

 width: 90%; 
}


#onepage_main_div div.opc_menu_item button span.opc_title {
font-size:18px;
color: #000; 
margin: 0; 
padding: 0; 
}
#onepage_main_div div.opc_menu_active button span.opc_title {
color: #fff; 
}


#onepage_main_div div.opc_menu_item button {
  height: 100%; 
  width: 100%; 
  margin: 0; 
  padding: 0; 
  border: none; 
  background: none; 
  overflow: visible; 
  text-align: left; 
  
}

div.opc_menu_inactive {
  height: 40px; 
 vertical-align: middle; 
 text-align: left; 
 text-indent: 20px; 
 background: none; 
 background-color: transparent;
 clear: right; 
}

div.arrowup {
  display: none; 
  height: 20px; 
  width: 100%; 
  position: relative;
}
div.opc_arrow_up {
  	width: 0; 
	height: 0;
    position: absolute; 
    top:0; 
    left: 0; 	
	margin-left: 70%;
	
	border-left: 20px solid transparent; 
	border-right: 20px solid transparent;
	
	
    z-index: 99;
}
div#ship_to_wrapper div.arrowup {
 margin-bottom: -1px; 
}
div.opc_arrow {
  	width: 0; 
	height: 0;
    position: absolute; 
    top:0; 
    left: 0; 	
	margin-left: 100%;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	
    z-index: 3;
}
div.opc_arrow_white {
  	width: 0; 
	height: 0;
    position: absolute; 
    top:0; 
    left: 0; 
    margin-top: -4px; 
	-webkit-margin-before:-3px;
    margin-bottom: -4px; 	
	margin-right: -4px; 
	margin-left: 100%;
	border-top: 24px solid transparent;
	border-bottom: 23px solid transparent;
	
    z-index: 2;
}
div.arrow_login, div.arrow_business, div.arrow_visitor {
  position: absolute; 
  top: 0px; 
  left: 90%; 
  
  
}

/* end opc menu */ 

div#vmMainPageOPC div#opc_login_section.opc_login {
 margin-bottom: 20px; 
}


div#vmMainPageOPC button.button_checkbox_uned div {
 background: url(images/unchecked.png) no-repeat 0 0;
 height: 20px !important; 
  width: 20px !important; 
  white-space: nowrap; 
  overflow: visible; 
  margin: 0; 
  padding: 0; 
 margin: 10px 10px 0;
  float: left;
}

div#vmMainPageOPC button.button_checkbox_ed div {
 background: url(images/checked.png) no-repeat 0 0;
 height: 20px !important; 
  width: 20px !important; 
  white-space: nowrap; 
  overflow: visible; 
  margin: 0; 
  padding: 0; 
  
    background: url("images/checked.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 20px !important;
    margin: 10px 10px 0;
    overflow: visible;
    padding: 0;
    white-space: nowrap;
    width: 20px !important;
  
}

div#vmMainPageOPC button.button_checkbox_ed, div#vmMainPageOPC button.button_checkbox_uned  {
 /* make sure it's insde a opc_title which is relative */
 position: absolute; 
 height: 100%;
 background: none; 
 outline: none none; 
 overflow: visible; 
 white-space: nowrap; 
 width: 90%;
 margin: 0; 
 padding: 0; 
 left: 0; 
 text-align: left; 
}
div#vmMainPageOPC button.button_checkbox_ed span, div#vmMainPageOPC button.button_checkbox_uned span {
 /*position: absolute; 
 left: 14%; 
 top: 0; 
 
 margin-top: 13px; */
 margin: 12px 0 0;
 float: left; 
 
  
}


div#vmMainPageOPC div#register_label {
 min-width: 240px; 
}

div#vmMainPageOPC input#socialNumber_field {
 width: 50%; 
}
div#vmMainPageOPC div.formField#socialNumber_input input[type="button"] {
 width: 50%; 
 background: none; 
 
 color: white; 
 border-radius: 3px;
 box-shadow: none; 
 -webkit-box-shadow: none;
 outline: none; 
 border: none; 
 position: absolute; 
 left: 55%; 
 top: 0; 
 height: 28px; 
}

span#register_span {
 float: left; 

}

div.password {
}

div#password2_div, div#opc_password_div, div#opc_password2_div, div#username_div {
 left: 40%; 
}

div#vmMainPageOPC div#opc_shipping_and_shipto_section  div#ship_to_wrapper div#opc_heading {
 top: 10px; 
}

div#opc_shipping_section {
 margin-bottom: 10px; 
}

div#opc_tos_section div.opc_inside {

margin-bottom: 10px; 
}
div#opc_tos_section {
 position: relative; 
 clear: both; 
}

div#customernote_wrapper {
 position: relative; 
 clear: both; 
 margin-bottom: 10px; 
}

div.field_wrapper2 {
 float: right; 
}