/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */

// ---------------------------------------------------------
// MAIN TEMPLATE STYLES
// ---------------------------------------------------------
body { background:@bodyBackground!important;color:@textColor!important;}
.header-top { background:@headTopBackground!important;border-top: 4px solid @headTopBorderBackground!important;}
#t3-header { background:@headRowBackground!important;}
#t3-mainnav {background:@navRowBackground!important;}
.center-block {background:bannerRowBackground!important;}
#Slider {background:@slideRowBackground!important;}
#Toprow {background:@bannerRowBackground!important;}
.MainRow {background:@mainbodyRowBackground!important;}
#Slider .tp-leftarrow:hover,#Slider .tp-rightarrow:hover , .camera_prev:hover,.camera_next:hover{ background:@linkColor;}

div.not_text, .poping_links span , .fleft.log label , .wrapper_remember label , .module.phone , .serchline input , .top-breadcrumbs span , .t3-copyright .module, .prod_desc
.navigation_grid , .paramfilter .heading , .t3-sidebar .paramfilter .values li label , #productdetailsview .manufacturer , #productdetailsview .price .product-price .price-crossed  ,
.time-box  .bzSaleTimer .count_info  , .time-box .price .product-price > span.price-old .PricebasePriceWithTax ,  .time-box .price .product-price .text ,#productdetailsview .tags ,
.cart-view .label , .login-wrap.cart-view label , .order-view #com-form-order-number label , .order-view .control-group label ,.cart-view .login-box .remember ,
.cart-view  .text-indent span.font , .cart-view  .text-indent2 span.font , #compare_list_prod td , #compare_list_prod td:first-child , .orders-box tbody td , .spaceStyle.second .order-box td:first-child,
.orders-box thead th, .order-items-box .sectiontableheader th , .order-items-box tr td.priceCol span.line-through, .order-items-box tr.total .color , .order-items-box tr.total td.pricePad ,
.order-items-box .order-items  td.right , #slideShow .desc1, #slideShow .time-box .price  .price-old .WithoutTax , #slideShow .time-box .price  .text ,  div.catItemCategory , div.catItemCommentsLink,
div.catItemLinks , div.catItemHeader span.catItemAuthor , div.catItemHeader span.catItemDateCreated , div.catItemCategory span , div.catItemRatingBlock ,
div.catItemIntroText , #k2Container div.catItemRatingBlock span , .userItemView div.userItemHeader span.userItemDateCreated , div.userItemIntroText , .genericItemView div.genericItemHeader span.genericItemDateCreated ,
div.genericItemIntroText ,  div.catItemCategory , div.catItemCommentsLink ,  div.itemCategory span , #k2Container .itemAuthor, #k2Container .catItemCategory  , #k2Container .itemDateCreated  , #k2Container .itemCategory , div.itemRatingBlock ,
#k2Container .itemBody , div.itemIntroText , #k2Container .itemNavigation , div.itemNavigation span.itemNavigationTitle , div.itemCommentsForm form label  , .t3-sidebar .coments div.k2LatestCommentsBlock ul li span.lcCommentDate ,
.k2user #form-login-password label, .k2user #form-login-username label , .k2user #form-login-remember label , .t3-sidebar .latestarticles .module-ct ul li , .t3-sidebar .allsearch label , .contact-wrap .width60  .form-horizontal .control-label label , 
.homeblog ul li  .blog-box .fleft  .moduleItemDateCreated  , .homeblog ul li  .blog-box .fleft .moduleItemIntro , .module.menu ul li a 
{color:@textColor;}
.order-items-box .color .size.color {color:@linkColor!important;}

a , #cur-lang .heading  span:first-child , #Slider .text2 , #Slider .text2.rev , #Slider .text3 , ul.layout .product-box .Price , ul.layout2 .product-box .Price , .pagination ul > li > span , #product_list ul.layout .product-box .Price ,
  #product_list ul.layout2 .product-box .Price , ul.list .VmArrowdown.expanded i.minus, .listbest .Price , #productdetailsview .price .product-price span.PricesalesPrice , .time-box #bzSaleTimerCnt .wrap_time , .time-box .bzSaleTimerDesc div,
  #productdetailsview .time-box .price .product-price  > span.price-sale span.PricesalesPrice,.time-box .price .product-price .price-sale .text,table.cart-summary  .PricebillTotal, .sectiontableentry1.bg_total,.sectiontableentry1 .total .PricesalesPrice,
  .orders-box tbody td.total, .spaceStyle.second .order-box td.price  ,  #slideShow .time-box .price   .price-sale span.sales , #slideShow .time-box .price  .price-sale .text, #k2Container div.itemCommentsForm form span#formLog , .homeblog ul li  .blog-box .moduleItemReadMore,.success_compare_left .remcompare a,.success_wishlists_left .remwishlists a , div#cart_list .fright  a.vm2-remove_from_cart,div#cart_list .total .total2 , #cart_list .tot3, #cart_list .tot4 , div#vmMainPageOPC div.op_col7 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7 span.opc_PricesalesPrice , div#basket_container div.op_basket_row #tt_total_basket, div#basket_container div.op_basket_row.total div.op_col1_4 , #tt_total, #tt_total_txt , #vmMainPageOPC input.invalid , .shoper .user-details label.invalid , #sales_price , .vm2-add_up i , .cart-summary.bot-total .red-bold , ul.layout .product-box div.Title a:hover , ul.layout2 .product-box div.Title a:hover

{color:@linkColor;}



.module.menu ul li a:hover,   .jcarousel-container .jcarousel-prev.jcarousel-prev-disabled:hover span , .jcarousel-container .jcarousel-next.jcarousel-next-disabled:hover span  , .k2ReadMore:hover ,.userItemView .k2ReadMore:hover ,
.homeblog ul li  .blog-box .moduleItemReadMore:hover,.success_compare_left .remcompare a:hover,.success_wishlists_left .remwishlists a:hover , .order-items-box .order-link:hover, .vm2-add_up:hover i

{color:@linkColorHover;}

body input.inputbox , 
h3.module-title, 
.order h3 , h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 , 
.button-log .Forgot li a , 
.module.phone span , #cur-lang .heading ,
#cur-lang.header-button-compare .heading i , 
#cur-lang.header-button-wishlist .heading i ,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a , 
#t3-mainnav .t3-megamenu  .mega-nav > li a , 
#Slider .text1 , #Slider .text4 , 
.top-breadcrumbs a ,ul.layout .product-box .Title a , 
ul.layout .product-box .add_wishlist , 
ul.layout .product-box .add_compare,
ul.layout2 .product-box .Title a, 
ul.layout2 .product-box .add_wishlist , ul.layout2 .product-box .add_compare , .owl-prev , .owl-next , .cat_row a ,
.orderlistcontainer div.activeOrder , .Results .jq-selectbox , .navigation_grid a i ,
#product_list.list ul.layout .product-box .Title a , #product_list.list ul.layout .product-box .vote  , #product_list.list ul.layout2 .product-box .Title a,
#product_list.list ul.layout2 .product-box .vote,
#product_list.list  .fa-tags , #product_list.list .product_tags a, .t3-sidebar  .module-ct ul > li a ,
.t3-sidebar ul.list  > li a , .t3-sidebar ul.list li.parent li  a,
.t3-sidebar ul.list   li.parent li.parent li  a ,
ul.list .VmArrowdown i, .btn_compare , .btn_wishlist , #mod_wishlists .name a , #mod_compare .name a , #mod_compare .remcompare a , #mod_wishlists .remwishlists a , .listbest .Title a ,.mod_tagsvm2 a , .t3-sidebar .paramfilter .values li label .count ,
.paramfilter a.reset, .fullreset , .jcarousel-container .jcarousel-next span ,
.jcarousel-container .jcarousel-prev span , .jcarousel-container .jcarousel-prev.jcarousel-prev-disabled span ,
.jcarousel-container .jcarousel-next.jcarousel-next-disabled span , #productdetailsview .fright h1 , #productdetailsview .manufacturer a , .time-box .countdown_section , .time-box .countdown_amount , #productdetailsview .jq-selectbox,
#productdetailsview .product-box2 .addtocart-bar2 .quantity-box input,#productdetailsview .product-box2 .add_wishlist , #productdetailsview .product-box2 .add_compare , #productdetailsview .product-box2 .ask-a-question .ask-question2 , .accordion-heading a.accordion-toggle.collapsed,
.productdetails-view.layout2 .responsive-tabs__list__item,#productdetailsview .tags .product-field-display a , .product-related-categories .product-field .product-field-display a ,.product-neighbour ul.pagers a , .recentproducts li,
.cart-view .login-box  a.reset , .cart-view .login-box  a.remind ,.cart-view .login-box  a.reset , .cart-view .login-box  a.remind ,.cart_form .vm2-add_quantity_cart ,.cart_form .vm2-remove_from_cart ,
.shoper .jq-selectbox ,.wishlist_box  .remwishlists a , .wishlist_box .addtocart-bar2 .quantity-box input,#compare_list_prod .comare_name a,#compare_list_prod .addtocart-bar2 .quantity-box input ,.comare_action .compare_del , 
.manufacturer-view-default .row_man h2 a ,.manufacturer_details_view  .manufacturer-email a , .manufacturer_details_view .manufacturer-url a , .manufacturer_details_view .manufacturer-product-link a,
.orders-box tbody td.num a , .order-items-box tr td.priceCol span , .order-items-box tr.total td, .order-items-box tr .color2,.shoper #tabs li,#slideShow .Title a,#slideShow .add_wishlist , #slideShow .add_compare,
.K2ItemsRow h2.module-title , .K2ItemsRow h2.module-title a ,  .K2ItemsRow .catItemAuthor a , div.catItemCategory a , div.catItemCommentsLink a , #k2Container h2.itemTitle , #k2Container h2.itemTitle a ,
#k2Container .itemAuthor a , #k2Container div.catItemCategory a , #k2Container div.itemDateCreated a , #k2Container .itemCategory a,#k2Container .itemToolbar a,.itemAuthorLatest ul li a,#k2Container .itemNavigation a,
div.itemCommentsForm form textarea.inputbox,div.itemBackToTop a ,.search .page-title,#url,.contact-address dt span,#onepage_main_div .jq-selectbox,.homeblog ul li  .blog-box .fleft  .moduleItemTitle,.success_compare_left .title a ,
.success_wishlists_left .title a , #askform input,#comment,div.other-links li a ,.ask-a-question-view #Comment,.panel-heading a.accordion-toggle.collapsed ,

div.tooltip-inner

{color:@CustomColor;}

	.button-log .Forgot li a:hover, .module.menu ul li a:hover ,
	#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a:hover,
	#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a:focus , 
	#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a ,
	#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a:hover ,
	#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a:focus ,
	#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a ,
	#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a:hover ,
	#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a:focus ,
	#t3-mainnav .t3-megamenu .mega-nav > li a:hover,
	#t3-mainnav .t3-megamenu .mega-nav > li.open > a,
	#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li a:hover,
	#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li.active > a,
	#t3-mainnav .t3-megamenu .mega-nav > li a:focus,
	#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li a:focus,
	.top-breadcrumbs a:hover , 
	ul.layout2 .product-box .add_wishlist:hover,ul.layout2 .product-box .add_wishlist.active,
	ul.layout2 .product-box .add_wishlist:focus , ul.layout2 .product-box .add_compare:hover,ul.layout2 .product-box .add_compare.active,
	ul.layout2 .product-box .add_compare:focus , #t3-footer .menu.nav li:hover a , #t3-footer .menu.nav li.active a , #t3-footer .menu.nav li:hover > i , #t3-footer .menu.nav li.active > i , 
	.cat_row:hover a , .pagination ul > li > a:hover , .pagination ul > li > a:focus , #product_list.list ul.layout .product-box .Title a:hover , #product_list.list ul.layout2 .product-box .Title a:hover, #product_list.list .product_tags a:hover,
	.t3-sidebar  .module-ct ul > li a:hover,.t3-sidebar ul.list  > li a:hover , .t3-sidebar ul.list  > li.active a , .t3-sidebar ul.list   li li a:hover , .t3-sidebar ul.list  > li.parent li.active a,
	.t3-sidebar ul.list   li.parent li.parent li a:hover , .t3-sidebar ul.list  > li.parent li.parent li.active a , .btn_compare:hover , .btn_wishlist:hover, #mod_wishlists .name a:hover , #mod_compare .name a:hover, #mod_wishlists .name a:hover , #mod_compare .name a:hover, #mod_compare .remcompare a:hover , #mod_wishlists .remwishlists a:hover, .listbest .Title a:hover , .mod_tagsvm2 a:hover, .paramfilter a.reset:hover ,.fullreset:hover , .fullreset:focus , #productdetailsview .addtocart-bar2 .quantity-controls .quantity-plus:hover, #productdetailsview .addtocart-bar2 .quantity-controls .quantity-minus:hover , #productdetailsview .tags .product-field-display a:hover ,.cat_row:hover a, .product-related-categories .product-field .product-field-display:hover a,
	#productdetailsview .manufacturer a:hover, .recentproducts li a:hover , .cart-view .login-box  a.reset:hover , .cart-view .login-box  a.remind:hover ,  .cart_form .vm2-add_quantity_cart:hover , .cart_form .vm2-remove_from_cart:hover , 
	.cart-summary .sectiontableentry1.shipment td a:hover, .cart-summary .sectiontableentry1.payment td a:hover , .cart-summary .sectiontableentry1.bg_total td:first-child , .wishlist_box  .remwishlists a:hover , .wishlist_box .addtocart-bar2 .quantity-controls .quantity-plus:hover , .wishlist_box .addtocart-bar2 .quantity-controls .quantity-minus:hover, #compare_list_prod .comare_name a:hover , #compare_list_prod .comare_price span.PricesalesPrice ,
	#compare_list_prod .addtocart-bar2 .quantity-controls .quantity-plus:hover ,#compare_list_prod .addtocart-bar2 .quantity-controls .quantity-minus:hover , .comare_action .compare_del:hover ,.manufacturer-view-default .row_man h2 a:hover , .manufacturer_details_view  .manufacturer-email a:hover , .manufacturer_details_view .manufacturer-url a:hover , .manufacturer_details_view .manufacturer-product-link a:hover , .orders-box tbody td.num a:hover,
	#slideShow .Title a:hover, .K2ItemsRow .catItemAuthor a:hover , div.catItemCategory a:hover , div.catItemCommentsLink a:hover , #k2Container .itemAuthor a:hover , #k2Container div.catItemCategory a:hover , #k2Container div.itemDateCreated a:hover , #k2Container .itemCategory a:hover,#k2Container .itemToolbar a:hover ,.itemAuthorLatest ul li a:hover,#k2Container .itemNavigation a:hover, div.itemBackToTop a:hover , .homeblog ul li  .blog-box .fleft  .moduleItemTitle:hover , .success_compare_left .title a:hover ,  .success_wishlists_left .title a:hover , div.other-links li a:hover , ul.layout2 .product-box .Title a:hover , #k2Container h2.itemTitle a:hover , .serchline .sropen:hover ,.serchline .srclose:hover ,#sachoneL:hover , .cart-summary .cart-title a:hover
{color:@HoverCustomColor;}

#t3-mainnav .navbar-nav > li > a:hover,
#t3-mainnav .navbar-nav > li > a:focus,
#t3-mainnav .navbar-nav > li > span:hover,
#t3-mainnav .navbar-nav > li > span:focus,
#t3-mainnav .navbar-nav > .active > a,
#t3-mainnav .navbar-nav > .active > a:hover,
#t3-mainnav .navbar-nav > .active > a:focus,
#t3-mainnav .navbar-nav > .active > span,
#t3-mainnav .navbar-nav > .active > span:hover,
#t3-mainnav .navbar-nav > .active > span:focus,
#t3-mainnav .navbar-nav > .open > a,
#t3-mainnav .navbar-nav > .open > a:hover,
#t3-mainnav .navbar-nav > .open > a:focus,
#t3-mainnav .navbar-nav > .open > span,
#t3-mainnav .navbar-nav > .open > span,
#t3-mainnav .navbar-nav > .open > span 
	{ background:@NavHoverColor!important;}
	div.ac_result {border-top:3px solid @NavBorderColor!important;}
#t3-mainnav .dropdown-menu {  border-top:3px solid @NavBorderColor!important;}
#t3-mainnav .dropdown-menu  .dropdown-menu { border-left:3px solid @NavBorderColor!important; border-top:none!important;}
 #t3-mainnav  .dropdown-menu:before {
	border-bottom: 8px solid @NavBorderColor;
	}
	 #t3-mainnav  .dropdown-menu .dropdown-menu:before {
		border-right: 8px solid @NavBorderColor;
	}
	.productdetails-view.layout2 .responsive-tabs__heading:afte ,div#cart_list
	{border-color:@CustomBorderColor!important;}
	#vmMainPageOPC input.invalid , .shoper .user-details input.invalid , #cart-view-default  table.adminform input.invalid{
		border: 2px solid @CustomBorderColor;
	}
	#vmCartModule ,#vmCartModule:hover span.cart_num a, #vmCartModule.act span.cart_num a ,.camera_wrap .camera_pag .camera_pag_ul li:hover, .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent ,
	.owl-prev:hover , .owl-next:hover,.navigation_grid .Clist:hover , .navigation_grid .Clist.active ,.navigation_grid .Cgrid:hover , .navigation_grid .Cgrid.active,ul.list .VmArrowdown:hover,.paramfilter .slider_active,.jcarousel-container .jcarousel-next:hover , .jcarousel-container .jcarousel-prev:hover,#back-top a:hover , div#slideShow .space_tabs li.space_here a, div#slideShow .space_tabs li:hover a
	
	{background:@CustomBackgroundColor;}
	#cur-lang.header-button-compare .heading span, #cur-lang.header-button-wishlist .heading span {background:@CustomBackgroundColor!important;}
	#vmCartModule:hover span.cart_num a, #vmCartModule.act span.cart_num a {background:@CustomBackgroundColor!important;}
	.button , .addtocart-button , .vm-button-correct , .k2user .button {background:@buttonBackground!important;border-bottom:2px solid @CustomBorderColor!important;}
	
	.button.reset:hover,
	.button.reset:focus {background:@buttonBackground!important;border-bottom:2px solid @CustomBorderColor!important;}

	div#cart_list {border-top: 3px solid @NavBorderColor!important;}
	#vmCartModule  #cart_list i.fa-sort-desc {color:@NavBorderColor;}
	
	#t3-footer aside.t3footnav {background:@T3FooterasideColor;}
#t3-footer .t3-copyright {background:@T3FootercopyColor;}

input::-moz-placeholder {color:@CustomColor;}
input::-webkit-input-placeholder {color:@CustomColor;}
input::-ms-input-placeholder {color:@CustomColor;}

select::-moz-placeholder, textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder, .inputbox::-moz-placeholder
{color:@CustomColor;}

// 
// HEADER
// ---------------------------------------------------------

.t3-header {
  padding-top: @t3-global-padding;
  padding-bottom: @t3-global-padding;
}


// Logo
// ----
.logo {

  text-align: center;

  // Left align the logo on  Tablets / Desktop
  @media screen and (min-width: @screen-sm) {
    text-align: left;
  }

  a {
    display: inline-block;
    line-height: 1;
    margin: 0;
  }

}

// Logo Image
// ----------
.logo-image {
  // Hide sitename and slogan
  span, small {
    display: none;
  }
}

// Logo Text
// ----------
.logo-text {

  a {
    text-decoration: none;
    font-size: ceil(@font-size-base * 2);
    font-weight: bold;
  }

  &:hover a,
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }

  // Taglines
  .site-slogan {
    display: block;
    font-size: @font-size-base;
    margin-top: 5px;
  }

}

// Head Search
// -----------
.head-search {

  margin-top: @t3-global-margin;
  .clearfix();

  form {
    margin: 0;
  }
  
  label {
    display: none;
  }
  
  .search {
    position: relative;
    // Place a search icon
    &:before {
      font-family: "FontAwesome";
      content: "\f002";
      display: block;
      position: absolute;
      left: 10px;
      top: 6px;
      color: @gray;
    }
    // Float to right on Tablets / Desktop
    @media screen and (min-width: @screen-sm) {
      float: right;
    }
  }
  
  .form-control {
    width : 100%;
    padding-left: 30px;

    // Width Control on Tablets / Desktop
    @media screen and (min-width: @screen-sm) {
      width: 150px;
      // focus state
      &:focus {
        width: 200px;
      }
    }

  }

}

.T3headrow() when (@T3HeaderFloat = 1) {

		position: relative!important;
		
		
}
		
  
  .T3head() when (@T3HeaderFloat = 0) {
  	// Leave blank here because we will use the default style.
}

div.top-block.fix #t3-mainnav {
  .T3headrow();
}

// ---------------------------------------------------------
// SPOTLIGHTS
// ---------------------------------------------------------

.t3-sl {
  padding-bottom: @t3-global-padding * 2;
  padding-top: @t3-global-padding * 2;
  // Larger padding in Tablet / Desktop
  @media screen and (min-width: @screen-sm) {
    padding-bottom: @t3-global-padding * 3;
    padding-top: @t3-global-padding * 3;
  }
}

// Spotlight 1
// -----------
.t3-sl-1 {
}

// Spotlight 2
// -----------
.t3-sl-2 {
}

// Spotlight 3
// -----------
.t3-sl-3 {
}

// Spotlight 4
// -----------
.t3-sl-4 {
}



// ---------------------------------------------------------
// MAIN BODY
// ---------------------------------------------------------
.t3-mainbody {
  padding-top: @line-height-computed ;
  padding-bottom: @line-height-computed;
}

// Content
// -------
.t3-content {
  padding-top: @line-height-computed ;
  padding-bottom: @line-height-computed;
}

// Sidebars
// --------
.t3-sidebar {
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed;
}

.t3-sidebar-1 {
}

.t3-sidebar-2 {
}



// ---------------------------------------------------------
// FOOTER
// ---------------------------------------------------------
.t3-footer {
  border-top: 1px solid @t3-border-color;
  background: @t3-footer-background;
  color: @t3-footer-text-color;
  .clearfix();

  // small
  small {
    display: block;
    font-size: 100%; //Use global footer font size.
  }

  // links
  a {
    // Link States
    &:hover, &:active, &:focus {
    }
  }

}

// Foot Nav
// --------
.t3-footnav {
  padding: @t3-global-padding 0;
  .clearfix();

  // Larger padding on Tablet / Desktop
  @media screen and (min-width: @screen-sm) {
    padding: (@t3-global-padding * 2) 0;
  }

  // Footnav Modules
  .t3-module {
    background: @t3-footer-module-background;
    color: @t3-footer-module-text-color;
    margin-top: @line-height-computed / 2;
    margin-bottom: @line-height-computed / 2;

    .module-title {
      color: @t3-footer-module-title-color;
      font-size: @font-size-large;
      margin-bottom: @line-height-computed / 2;
    }

    ul {
      list-style: none;
      margin-left: 0;
      margin-bottom: 0;
      padding-left: 0;

      > li {
        line-height: 24px;
        // links
        > a {
          color: @t3-footer-module-text-color;
          // Link States
          &:hover, &:active, &:focus {
            color: @t3-footer-module-text-color;
          }
        }
      }
    }

  }

}

// Copyright
// ---------
.t3-copyright {
  border-top: 1px solid @t3-border-color;
  font-size: @font-size-small;
  padding: (@t3-global-padding * 2) 0 (@t3-global-padding * 4);
  .clearfix();
  small {
    margin-bottom: 5px;
  }
}

.copyright {
    margin-bottom: @line-height-computed;
}

.poweredby {
  .clearfix();

  // Align right on Tablet / Desktop
  @media screen and (min-width: @screen-sm-max) {
    text-align: right;
  }

  .t3-logo,
  .t3-logo-small {
    opacity: .8;
    display: inline-block;
  }
}
.top-breadcrumbs .breadcrumb > li + li:before {content:"\f105"}
