/*
*
* @copyright Copyright (C) 2007 - 2010 RuposTel - All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
* One Page checkout is free software released under GNU/GPL and uses code from VirtueMart
* VirtueMart is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* 
*/
span.shipping_error {
 color: red; font-weight: bold; padding-top: 20px;
}
div#onepage_userfieds {
	width: 100%; 
	float: left;
}
div.checkout-advertise-box {
 margin-top: 10px; 
}
div.opc_PricesalesPrice {
 float: right; 
}
div.opc_PricesalesPrice span {
 text-align: right;
}

div#onepage_info_above_button {
	text-align: center; 
	margin: auto;
}
div#onepage_total_inc_sh {
 padding-top: 10px;
}
#vmMainPageOPC div#onepage_submit_section {
	width: 350px; 
	height: 40px;  
	padding: 20px;
	margin-left: auto; 
	margin-right: auto; 
	padding-left: 0; 
	padding-right: 0; 
}
#vmMainPageOPC input#confirmbtn.buttonopc {
	width: 350px; 
	height: 40px;  
	padding: 20px;
	margin-left: auto; 
	margin-right: auto; 
	padding-left: 0; 
	padding-right: 0; 
	
}
div#onepage_login_box {
 padding: 20px; 
 text-align: center; 
 margin-right: auto; 
 margin-left: auto; 
 width: 100%; 
}
div#onepage_login {
 text-align: left; 
 padding-left: 35%;
}
textarea#onepage_tos {
width: 100%;
}

span.bottom_totals_txt {
width: 50%;
text-align: right;
float: left;
}

span.bottom_totals {
/* width: 67%; */
text-align: left;
padding-left: 3%;
float: left;
}

div#totalam {

width: 100%;
clear: both;
float: left;
margin: 0 auto;
}

br.op_clear {
 clear: both;
}

div#tt_order_subtotal_div {
 width: 100%;
 float: left;
 clear: both;
}
div#tt_order_payment_discount_before_div {
 width: 100%;
 display: none;
 
}

div#tt_order_discount_before_div {
 width: 100%;
 display: none;

}

div#tt_shipping_rate_div {
 width: 100%;
 

}
div#tt_shipping_tax_div {
 width: 100%;
 display: none;

}

div#tt_tax_total_0_div {
 display: none;
width: 100%;
}

div#tt_tax_total_1_div {
 display: none;
width: 100%;
}

div#tt_tax_total_2_div {
 display: none;
width: 100%;
}

div#tt_tax_total_3_div {
 display: none;
width: 100%;
}

div#tt_tax_total_4_div {
 width: 100%;
 display: none;

}

div#tt_order_payment_discount_after_div {
 width: 100%;
 display: none;

}

div#tt_order_discount_after_div {
 width: 100%;
 display: none;

}

div#tt_total_div {
 width: 100%;

}

select#shipping_inside_basket_select {
 font-family: monospace;
}

select#payment_inside_basket {
 font-family: monospace;
}


/* pbv basket from vm1 */
#vmMainPageOPC .sectiontableheader {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    padding: 5px;
}
#vmMainPageOPC .sectiontableheader a, .sectiontableheader a:hover, .sectiontableheader a:focus, .sectiontableheader a:active {
    color: #FFFFFF;
}
#vmMainPageOPC .sectiontableentry, .sectiontableentry0, .sectiontableentry1, .sectiontableentry2 {
    background: url("images/dot2.gif") repeat-x scroll center bottom transparent;
    padding: 5px 5px 6px;
}
#vmMainPageOPC .sectiontableentry:hover, .sectiontableentry0:hover, .sectiontableentry1:hover, .sectiontableentry2:hover {
    background-color: #FFFFF0;
}
#vmMainPageOPC .sectiontableentry2 {
    background-color: #F6F6F6;
}

#vmMainPageOPC hr {
    border-color: #CCCCCC;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 1px;
}

#vmMainPageOPC td, #vmMainPageOPC tr {
 border: 0 none;
 padding: 3px;  
}
#vmMainPageOPC .vmsectiontableentry2 {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 0 solid #CCCCCC;
    color: #333333;
    font-family: Arial,Verdana,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 20px;
    padding: 5px;
    text-transform: none;
}

#vmMainPageOPC td {
    font-size: 100%;
    padding: 5px;
}
#vmMainPageOPC input.updatebtn {
background: none;
background: transparent url('images/update_quantity_cart.png') no-repeat top left; 
 display: inline-block; 
 width: 20px; 
 height: 20px; 
 border: none; 
 
}
#vmMainPageOPC a.deletebtn, #vmMainPageOPC a.deletebtn:hover {
 background: none;
 background: transparent url('images/remove_from_cart.png') no-repeat top left; 
 display: inline-block; 
 width: 20px; 
 height: 20px; 
}


#vmMainPageOPC  .tabcontent2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #000000;
	clear: both;
}

#vmMainPageOPC  .tabcontent2 {
    margin-top: -1px;
    padding: 0 0 0 0; 
	margin: 0 0 0 0; 
	width: 100%;
}

#vmMainPageOPC fieldset {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E7E7E7 !important;
    color: #555555;
    font-family: arial,verdana;
    margin-bottom: 10px !important;
}
#vmMainPageOPC .coupon_input {
 border: none;
 border: 1px solid gray; 
 height: 16px;
 color: gray;
 font-size: 9px;
 min-width: 200px; 
}

#vmMainPageOPC .coupon_input:active, #vmMainPageOPC .coupon_input:focus {
 border: none;
 border: 1px solid gray; 
 height: 16px;
 color: black;
 font-size: 9px;
}

#vmMainPageOPC .coupon_wrapper {
  float: right; 
  margin: 0; 
  padding: 0; 
  clear: both;
}

#vmMainPageOPC .detailsbutton_opc {
  float: right; 
  margin: 0; 
  padding-top: 10px; 
}

#vmMainPageOPC table .inputbox {
 border: 0 none; 
 min-height: 18px; 
 position: relative; 
 top: -5px; 
 vertical-align: middle;
 
}
#vmMainPageOPC #payment_html table .inputbox, #vmMainPageOPC .payment_extra input[type="text"] {
 width: 220px; 
 max-width: 95%; 
}

#vmMainPageOPC #payment_html  .vmpayment_cardinfo table td {
 height: 30px; 
 vertical-align: top; 
 padding: 2px; 
}
#vmMainPageOPC #payment_html  .vmpayment_cardinfo table td span.hasTip {
 float: left; 
 clear: both; 
}

#vmMainPageOPC .updatebtn {
 position: relative; 
 top: -3px; 
}

#vmMainPageOPC div.continue_shopping2 {
  margin: 0; 
  padding: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 169px; 
  height: 30px; 
  padding-top: 15px;
  background: transparent url(images/keepshoppping.png) no-repeat left 10px;  
}
#vmMainPageOPC  a.continue_link2:hover, #vmMainPageOPC  a.a.continue_link2:active 
{
 color: black; 
 background: none; 
}
#vmMainPageOPC a.continue_link2, a.continue_link2:hover, a.a.continue_link2:active {
 padding-left: 30px; 
 padding-top: 7px;
 vertical-align: middle;
 color: grey; 
 text-decoration: none;
 text-transform: uppercase;
 font-size: 12px;
 font-weight: bold;
 font-stretch: ultra-condensed;
 background: none; 
}

#vmMainPageOPC .continue_left {
 clear: left; 
 width: 50%; 
 float: left; 
}
#vmMainPageOPC .coupon_right {
  width: 49%; 
  float: left;
  clear: right;   
}
#vmMainPageOPC .continue_and_coupon {
  border: 0 none; 
  margin: 0; 
  padding: 0; 
}

#vmMainPageOPC iframe.tos_iframe {
  width: 90%; 
  margin-left: 5%; 
  margin-right: 5%; 
  padding: 0; 
  height: 200px; 
}


#vmMainPageOPC div.btandst .st_right {
 padding: 0; 
 margin: 0; 
 margin-left: 2%;
 width: 49%; 
 float: left; 
}
#vmMainPageOPC div.btandst .bt_left {
 margin: 0; 
 padding: 0; 
 float: left
}
#vmMainPageOPC .address_fielset {
 min-height: 310px; 
}
#vmMainPageOPC div.btandst {
  margin: 0; 
  padding: 0; 
  width: 100%; 
}

#vmMainPageOPC div#agreed_div {
 width: 100% !important;
 text-align: left;
 margin-left: 5%;
 margin-top: 10px; 
}


#vmMainPageOPC .op_radiowrapper {
 width: 10%;
 float: left; 
 margin: 0; 
 padding: 0; 
 height: 100%; 
 bottom: 45%; 
 left: 0; 
 clear: left; 
 
 }

#vmMainPageOPC .op_labelwrapper {
 width: 85%; 
 float: left; 
 margin: 0; 
 padding: 0;
 clear: right;  
}

#vmMainPageOPC div#staddresses .sectiontableentry1 {
 background: none; 
  
 
}

#vmMainPageOPC div#staddresses .sectiontableentry2 {
 
 background: none; 
 margin-top: 15px;
 
}

.op_field_name {
  width: 35%; 
  padding-right: 5%;
  
  text-align: right; 
  float: left; 
  clear: right;
}

.op_field_value {
 width: 49%; 
 text-align: left; 
 float: left; 
 clear: right; 
}


#onepage_main_div div.left_checkout{
    float: left;
    width: 49%;
	padding: 0; 
	margin: 0; 
	margin-right:1%;
}
#onepage_main_div div.right_checkout{
    float: left;
    padding: 0px 0 0;
	margin: 0; 
	margin-left:1%;
    width: 49%;
}
#vmMainPageOPC .formField{
    margin: 0 !important;
    max-width: 95%;
}
#vmMainPageOPC .formField input[type="text"], #vmMainPageOPC .formField textarea, #vmMainPageOPC .formField input[type="password"]{
    border: 1px solid #E3E3E3;
    border-radius: 3px 3px 3px 3px;
    height: 33px;
    line-height: 33px;
    margin: 0;
    padding: 0 5px;
	width: 220px; 
 max-width: 95%; 
    
}
#vmMainPageOPC .formField textarea {
  height: 60px; 
}
#vmMainPageOPC fieldset{
	background: none repeat scroll 0 0 #F8F8F8;
	border-top:1px solid #eaeaea !important;
	border-bottom:none !important;
	border-left:none !important;
	border-right:none !important;
}
#vmMainPageOPC fieldset fieldset{
	border: medium none !important;
}
#vmMainPageOPC .formField input#socialNumber_field{
    vertical-align: middle;
    width: 122px;
}
#vmMainPageOPC .formField input#klarna_get_address_button{
    background: url("images/button_checkout_get.gif") repeat scroll 0 0 transparent;
    border: 1px solid #C9C5C0;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 13px;
    margin: 0 0 0 7px;
    padding: 0;
    text-transform: uppercase;
    vertical-align: middle;
    width: 117px;
}
#vmMainPageOPC #paymentPlan { 
	width:300px;
	clear:both;
}
div#onepage_main_div .tabcontent3 h3,
div#onepage_main_div h3.payment_h3, 
div#onepage_main_div h3.shipping_h3 {
    background: none repeat scroll 0 0 #F5F5F5;
    border-top: 1px solid #d7d7d7;
    color: #353535;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    line-height: 39px;
    margin: 0;
    padding: 0 20px;
    text-transform: uppercase !important;
}
div#onepage_main_div legend.sectiontableheader{
	display:none;
}
.notes_checkout{
	clear:both;
}



#vmMainPageOPC fieldset.notes_checkout{
    background: none repeat scroll 0 0 #F8F8F8;
    float: left;
    margin: 20px 0 26px !important;
    width: 100%;
}

div#opc_logged_wrapper #customer_note_div{
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #EAEAEA;
    float: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold !important;
    line-height: 39px;
    margin: 0 !important;
    padding: 0 20px;
    text-align: left !important;
    text-transform: uppercase;
    width: auto !important;
}
#customer_note_input #customer_note_field{
    border: 1px solid #E3E3E3;
    border-radius: 3px 3px 3px 3px;
    height: 143px;
    margin: 0;
    padding: 5px;
    width: 432px;
}
#customer_note_input{
    padding: 20px 0;
    text-align: center;
}
div#onepage_total_inc_sh{
	padding: 0;
}
div#totalam{
    float: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 40px;
    width: 390px;
}
div#tt_order_subtotal_div{
	border-bottom: 1px solid #EAEAEA;
}
div#tt_shipping_rate_div, div.bottomtotals {
	border-bottom: 1px solid #EAEAEA;
}
div#tt_tax_total_0_div{
	
}
div#tt_total_div{

}
span.bottom_totals_txt{
    float: left;
    padding: 0 0 0 12px;
    text-align: left;
    width: auto;
}
span.bottom_totals{
    float: right;
    padding: 0 10px 0 0;
    text-align: right;
}
#vmMainPageOPC div#agreed_div{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 39px 0 0;
    text-align: center;
}
#vmMainPageOPC div#agreed_div a{
	color:#ff8f03;
}
#vmMainPageOPC div#onepage_submit_section{
	padding-top: 5px;
}
#vmMainPageOPC input#confirmbtn.buttonopc {
    background: url(images/bigbtn.png) left top !important;
    border: medium none;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 !important;
    width: 222px !important;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}
#vmMainPageOPC input#confirmbtn.buttonopc:hover,
#vmMainPageOPC input.buttonopc:hover{
	background-position: left bottom !important;
}
#klarna_box_invoice{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    position: relative;
}
#vmMainPageOPC fieldset.tos{

}
/*
.tabcontent3 select{
    border-color: #E3E3E3;
    height: 33px;
    line-height: 33px;
    padding: 6px 0;
}
*/
#registertab fieldset,
#logintab fieldset{
	padding: 14px 0 30px;
}
.wrap_login a{
	color: #FF8F03;
}
#vmMainPageOPC .formField input#remember_login{
	width: auto;
}
.klarna_box_top_agreement{
	display:none;	
}
.klarna_box_top{
    height: 29px;
    position: absolute;
    right: 8px;
    top: -37px;
    width: 62px;
}
#klarna_box_part{
	position:relative;
}
.klarna_box_top img{
    height: 29px;
    padding: 0;
    width: 62px;
}
#payment_html input#klarna_invoice{
	
}
#payment_html label{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
}
.klarna_box_bottom_right{
	width: 100%;
}
.klarna_box_bottom_content{
	padding: 0 20px;
}
.klarna_box_bottom_title{
    display: inline;
    float: left;
    line-height: 33px;
    margin: 0 12px 0 0;
    text-align: right;
    width: 132px;
}
.klarna_box_bottom input#private.Klarna_radio,
.klarna_box_bottom input.Klarna_radio{
    height: 28px;
    margin: 0;
}
.klarna_box_bottom input.Klarna_fullwidth, .klarna_box_bottom input.Klarna_pnoInputField{
    border: 1px solid #E3E3E3;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 33px;
    line-height: 33px;
    margin: 0 0 10px;
    padding: 0 5px;
    width: 251px;
}
.klarna_box_bottom_radio_title{
	float: left !important;
}
.klarna_box_bottom_title.typ{
	display:none;
}
.klarna_box_bottom_content.first{
	
}
.klarna_box1{
	padding-left: 158px;
}
.image_checkout{
/*    background: url("images/td_sep.gif") no-repeat scroll right center transparent; */
    float: left;
    margin: 0 18px 0 0;
    padding: 0 18px 0 0;
}
.image_checkout div {
	width: auto !important;
	height: auto !important;
}
#vmMainPageOPC .sectiontableentry2,
.sectiontableentry1{
	background: none repeat scroll 0 0 transparent !important;
}
.vmsectiontableheader{
    background: #F5F5F5 !important;
    border-bottom: 1px solid #d7d7d7 !important;
    border-top: 1px solid #d7d7d7 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    line-height: 40px !important;
    margin: 0 !important;
    padding: 0 0 0 20px !important;
    text-align: left;
}
#opc_unlogged_wrapper table{
    border: medium none !important;
    margin: 0 !important;
}
#vmMainPageOPC td{
    background: url("images/td_sep.gif") no-repeat scroll right center transparent;
    font-family: 'Open Sans', sans-serif !important;
    padding: 10px 18px;
    vertical-align: top;
    border-bottom: 1px solid #dedede;
}
#vmMainPageOPC td.prod_name{
    font-size: 18px;
    line-height: 1.5;
    padding: 10px 18px 10px 0;
}
#vmMainPageOPC td.prod_name img {
	width: 100px;
	height: auto;
}
#vmMainPageOPC td.prod_name a{
	display: block;
	color:#353535;
	margin-top: 24px;
	text-decoration: none; 
}
#vmMainPageOPC td.prod_name a:hover, #vmMainPageOPC td.prod_name a:active, #vmMainPageOPC td.prod_name a:focus {
 color:#353535;
 background: none !important; 
 text-decoration: underline; 
}
#vmMainPageOPC td div.vm-customfield-cart {
	font-size: 14px;
	line-height: 1.3;
	color: #aaa;
}
#vmMainPageOPC td.prod_sku{
	font-size: 12px;
	line-height: 78px;
}
#vmMainPageOPC td.prod_price{
    font-size: 14px;
    line-height: 78px;
    width: 100px;
}
#vmMainPageOPC td.prod_price div{
    float: none;
    text-align: center;
}
#vmMainPageOPC td.prod_update{
	width: 132px;
}
#vmMainPageOPC td.prod_update input.inputbox[type="text"] {
 top: 24px; 
}
#vmMainPageOPC td.prod_update div {
 margin-top: 20%; 
}
#vmMainPageOPC td.prod_total{
    font-size: 18px;
    font-weight: bold;
    line-height: 76px;
    width: 134px;
	
}
#vmMainPageOPC td.prod_total div{
	font-weight:bold;
	float: right; 
}
.vmsectiontableheader.name{
	text-align: center;
	padding:0 !important;
}
.vmsectiontableheader.delsumma{
	padding: 0 13px 0 0 !important;
}
#vmMainPageOPC #ajaxshipping select, #vmMainPageOPC #payment_html select, #payment_extra_outside_basket select {
    border: 1px solid #E3E3E3;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Open Sans', sans-serif;
    
    margin: 0;
    padding: 0;
    text-align: left;

    height: 30px; 
	width: 200px; 
	max-width: 80%; 



}
#vmMainPageOPC table .inputbox[type="text"]{
    border: 1px solid #E3E3E3;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    height: 30px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    text-align: left;
	max-width: 90%;
   /* width: 42px; */
}
#vmMainPageOPC input.updatebtn{
    background: url("images/update_quantity.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
	padding: 0; 
    height: 18px;
    margin: 0; 
	margin-top: 8px; 
	margin-left: 4px; 
/*    position: absolute;
    top: 30px; */
	float: left; 
	clear: right; 
    width: 17px;	
}
#vmMainPageOPC input.inputbox_update {
 width: 40px; 
 height: 34px; 
 float: left; 
 clear: none; 
 padding: 0; 
 margin: 0; 
}
#vmMainPageOPC a.deletebtn, #vmMainPageOPC a.deletebtn:hover{
    background: url("images/delete_quantity.png") no-repeat scroll 0 0 transparent;
    height: 16px;
	margin: 0; 
    margin-top: 8px; 
	margin-right: 4px; 
	float: left; 
	 
 clear: left; 
    /*position: absolute;
    top: 30px; 
	margin: 0 0 0 32px;
	*/
    vertical-align: bottom;
    width: 16px;	
}
#vmMainPageOPC tr.empty_td td {
	border: 0;
	min-height: 10px;
	max-height: 10px;
	padding: 0; 
}
#tt_order_subtotal_div_basket,
#tt_shipping_rate_div_basket,
.klarna_AdvertBox_bottomMid_readMore,
#vmMainPageOPC .continue_left{
	display:none;
}
#vmMainPageOPC .continue_and_coupon{
    float: left;
    margin: -91px 0 0;
}
#vmMainPageOPC .t0 {
	border: 0 !important;
	background: 0 !important;
}
#vmMainPageOPC .t1,
#vmMainPageOPC .t2,
#vmMainPageOPC .t3 {
    background: none repeat scroll 0 0 #F5F5F5 !important;
    border-bottom: 1px solid #d7d7d7 !important;
    border-top: 1px solid #d7d7d7 !important;
    font-weight: bold !important;
    line-height: 40px;
    padding: 5px 15px !important;
    text-align: left;
}
#vmMainPageOPC .t3{
	font-size: 18px !important;
	text-align: right;
}
.vmsectiontableentry1, .vmsectiontableentry2 {
	background: transparent !important;
}
#vmMainPageOPC .b1,
#vmMainPageOPC .b2,
#vmMainPageOPC .b3{
    background: none repeat scroll 0 0 transparent !important;
    border-left: medium none !important;
    border-right: medium none !important;
    border-top: medium none !important;
    border-bottom:1px solid #eaeaea !important;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    vertical-align: middle;
    padding: 10px 15px !important;
}
#vmMainPageOPC .b0{
	background: none repeat scroll 0 0 transparent !important;
	border: 0 !important;
}
#vmMainPageOPC .b3{
	font-size: 18px;
	text-align: right;
}
tr.vmsectiontableentry1:hover, tr.vmsectiontableentry2:hover,  tr.sectiontableentry1:hover, tr.sectiontableentry2:hover {
	background:none !important;
}
#vmMainPageOPC .coupon_input,
#vmMainPageOPC .coupon_input:active, #vmMainPageOPC .coupon_input:focus{
    border: 1px solid #E3E3E3;
    border-radius: 3px 3px 3px 3px;
    color: #A5A4A4;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 7px;
    vertical-align: middle;
    width: 338px;
}
#vmMainPageOPC .detailsbutton_opc{
    float: left;
    padding: 0;
}
.coupon_in{
	float: left;
	width: 70%;
}
.coupon_in input {
 max-width: 150px; 
}
#vmMainPageOPC .coupon_right{
	width: 100%;
}
#vmMainPageOPC input#submit_coupon_button,
#vmMainPageOPC input#submit_coupon_button:hover{
    background: url("images/button_checkout_get.gif") repeat scroll 0 0 transparent !important;
    border-color: #C9C5C0 !important;
    border-image: none !important;
    border-radius: 3px 3px 3px 3px;
    border-style: solid !important;
    border-width: 1px !important;
    color: #606060 !important;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin: 0 0 0 0; /*13px;*/
    padding: 0 !important;
    text-transform: uppercase;
    vertical-align: middle;
    width: 77px;
}
#vmMainPageOPC td.cleantd {

border: none;
background: none;
background-color: transparent; 
}

#vmMainPageOPC .coupon_wrapper{
    background: none repeat scroll 0 0 #F5F5F5;
    /*border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;*/
    padding:0; /* 10px 15px;*/
	padding-left: 15px; 
	padding-top: 5px; 
	padding-bottom: 5px;
	width: 100%;
}
.checkout-advertise div{
	height: auto !important;
}
#onepage_main_div{
	margin: 10px 0 0;
	float: left;
	width: 100%;
}
#vmMainPageOPC #payment_html td{
	background: none repeat scroll 0 0 transparent;
	border: none;
}
.pay_box{
    border-bottom: 1px solid #ECECEC;
    padding: 0px 0 12px 15px;
	margin-right: -27px; 
	max-width: 90%;
}
.klarna_box_bottom{
	min-height: auto;
}
.pay_box.payment2{
 /*	background: url("images/visa_mastercard.png") no-repeat scroll right center transparent;*/
}
.pay_box.payment3{
	/* background: url("images/swedbank.png") no-repeat scroll right center transparent; */
}
#payment_html .klarna_box_bottom_radio_title label{
	text-transform: none;
}
#opc_logged_wrapper table{
	border: medium none !important;
}
#vmMainPageOPC fieldset.fieldset_agreed{
    background: none repeat scroll 0 0 transparent;
    border: medium none !important;
    margin: 0 !important;
    padding: 0 !important;
}
#onepage_userfieds tr td{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal !important;
    line-height: 33px;
    padding: 0 10px !important;
}
div#opc_logged_wrapper .formLabel, div#opc_unlogged_wrapper .formLabel {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal !important;
    line-height: 33px;
    margin: 0 27px 10px 0 !important;
    max-width: 95% !important;	

	float:left !important;
	clear: left; 
	text-align:left !important;
	font-weight: bold !important;
	margin: 2px !important;
	white-space: nowrap !important;
	clear: left !important;
	vertical-align: middle !important;
	margin-top: 8px !important;
}
#vmMainPageOPC .field_wrapper {
 float: none; 
 clear: both; 
}
#vmMainPageOPC .formField {
	float:right !important;
	/*width:350px !important;*/
	margin: 2px !important;
	vertical-align: middle !important;
	margin-top: 8px !important;
	overflow: none !important;
	clear: right; 
}
#onepage_useraddresses{
	text-align:center;
}
#onepage_useraddresses select, div.tabcontent3 select {
	margin: 10px 0;
    border: 1px solid #E3E3E3;
    height: 33px;
    line-height: 33px;
    padding: 6px 0;
}
#onepage_userfieds select, div.tabcontent3 select {
    border-color: #E3E3E3;
    height: 33px;
    line-height: 33px;
    padding: 6px 0;
	min-width: 80%; 
	max-width: 100%; 
	width: 251px; 
}
#onepage_userfieds select[multiple="multiple"],div.tabcontent3 select[multiple="multiple"]  {
  height: 80px; 
}
#vmMainPageOPC .address_fielset{
	min-height:auto;
}
#opc_logged_wrapper .continue_and_coupon{
	margin: -94px 0 0;
}
div#opc_logged_wrapper #customer_note_div.formLabel{
    margin: 0 !important;
    width: 100% !important;	
}
#shipto_virtuemart_state_id_input{
	text-align:left;
}
#onepage_useraddresses #edit_address_list_st_section select{
	margin:0;
}
input[type=checkbox],
#vmMainPageOPC .formField input#remember_login{
	border:none;
}
div#klarna_box_invoice, div#klarna_box_part {
 min-height: 0px !important;
}
div.klarna_box_bottom_content select {
 clear:both;
 float:left;
}