/*
*
* @copyright Copyright (C) 2007 - 2010 RuposTel - All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
* One Page checkout is free software released under GNU/GPL and uses code from VirtueMart
* VirtueMart is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* 
*/


#vmMainPageOPC div#basket_container {
 border:1px solid #BEBCB7;
 margin-bottom:10px;
 width:100%;
 white-space:nowrap;
 }
 #vmMainPageOPC div#basket_container .vmsectiontableheader {
 font-size: 14px !important;
	line-height:1.4em !important;
	text-transform: none !important;
	font-weight: bold !important;
	padding: 2px 8px !important;
	color: #0A263C !important;
	height: 15px !important;
	border-bottom:2px solid #CCC !important;
	background: #E7E7E7  !important;
	font-family: "Helvetica Nueu",Arial, Verdana, sans-serif !important;
	font-weight: normal !important;
	}
	
#vmMainPageOPC div#basket_container .op_col1_header,
#vmMainPageOPC div#basket_container .op_col1,
#vmMainPageOPC div#basket_container .op_col2,
#vmMainPageOPC div#basket_container .op_col3,
#vmMainPageOPC div#basket_container .op_col4,
#vmMainPageOPC div#basket_container .op_col5,
#vmMainPageOPC div#basket_container .op_col6,
#vmMainPageOPC div#basket_container .op_col7 ,
#vmMainPageOPC div#basket_container .op_col7_header {
	text-align:left;
	float:left;
	
}

#vmMainPageOPC div#basket_container .op_col1_header { width: 40%;}
#vmMainPageOPC div#basket_container .op_col1{ width: 6%;}
#vmMainPageOPC div#basket_container .op_col2{ width: 34%;}
#vmMainPageOPC div#basket_container .op_col3{ width: 0%;}
#vmMainPageOPC div#basket_container .op_col4{ width: 10%;}
#vmMainPageOPC div#basket_container .op_col5{ width: 15%;}
#vmMainPageOPC div#basket_container .op_col6{ width: 20%;}
#vmMainPageOPC div#basket_container .op_col7 { width: 15%;text-align: right;}
#vmMainPageOPC div#basket_container .op_col7_header { width: 15%;text-align: right;}

#vmMainPageOPC div.opc_PricesalesPrice {
	float:none;
}
#vmMainPageOPC div#basket_container .op_col2 {
 white-space: normal; 
 
}

#vmMainPageOPC div#basket_container .op_col2  a {
 display: inline-block; 
 word-break:normal;
}
#vmMainPageOPC #basket_cart input[type="text"].inputbox {
max-width: 20%;
margin-top: 0px;
border: 1px solid #ddd;
margin-left: 17%;
float: none;
}

#vmMainPageOPC div#basket_cart a.deletebtn, #vmMainPageOPC #basket_cart a.deletebtn:hover {
background: none;
background: transparent url('images/remove_from_cart.png') no-repeat top left;
display: inline-block;
width: 20px;
height: 20px;
margin-top: 5px;
margin-left: 4px;
position: absolute;
float: left;
left: auto;
}

#vmMainPageOPC div#basket_cart a.updatebtn, #vmMainPageOPC div#basket_cart a.updatebtn:hover,
#vmMainPageOPC div#basket_cart input.updatebtn, #vmMainPageOPC div#basket_cart input.updatebtn:hover  {
background: none;
background: transparent url('images/update_quantity_cart.png') no-repeat top left;
display: inline-block;
width: 20px;
height: 20px;
border: none;
left: 3%;
margin-top: 5px;
position: absolute;
}


#vmMainPageOPC div#basket_container .sectiontableentry1 {
background-color: #F7F7F7 !important;
}
#vmMainPageOPC div#basket_container .sectiontableentry2 {
background-color: #F6F6F6 !important;
}

#vmMainPageOPC div#basket_container .sectiontableentry, 
#vmMainPageOPC div#basket_container .sectiontableentry0, 
#vmMainPageOPC div#basket_container .sectiontableentry1,
#vmMainPageOPC div#basket_container .sectiontableentry2 {
background: url("images/dot2.gif") repeat-x scroll center bottom transparent;
padding: 1%;
float:left;
width:98%;
}

#vmMainPageOPC  .vmsectiontableentry1:hover, 
#vmMainPageOPC  .vmsectiontableentry2:hover, 
#vmMainPageOPC div#basket_container .sectiontableentry1:hover, 
#vmMainPageOPC div#basket_container .sectiontableentry2:hover {
background: #FFFFCC !important;

}

#vmMainPageOPC .discount_label{
	width:60%;
	text-align: right;
	float:left;
}
#vmMainPageOPC .discount_desc{
	width:38%;
	text-align: right;
	float:left;
	padding-right:2%;
}
#vmMainPageOPC #basket_coupon{
	height:80px;
	clear:both;
}
#vmMainPageOPC  #couponcode_field_input {
	width: 40%;
	float:left;
}
#vmMainPageOPC #couponcode_field_txt_discount,
#vmMainPageOPC #couponcode_field_discount {
	width: 30%;
	float:left;
}
#vmMainPageOPC #basket_container #shipping_inside_basket_label{
	width: 30%;
	float:left;
	height:30px;
	line-height:30px;
}
#vmMainPageOPC #basket_container #shipping_inside_basket{
	width: 30%;
	float:left;
}
#vmMainPageOPC #basket_container #shipping_inside_basket_cost{
	width:38%;
	float:left;
	text-align:right;
	padding-right:2%;
	height:30px;
	line-height:30px;
	}
#vmMainPageOPC #basket_container #payment_inside_basket_label{
	width: 30%;
	float:left;
	height:30px;
	line-height:30px;
}
#vmMainPageOPC #basket_container #payment_inside_basket{
	width: 30%;
	float:left;
}
#vmMainPageOPC #basket_container #payment_inside_basket_cost{
	width:38%;
	float:left;
	height:30px;
	line-height:30px;
	text-align:right;
	padding-right:2%;
	}
#vmMainPageOPC #basket_container select[name=virtuemart_shipmentmethod_id],
#vmMainPageOPC #basket_container select[name=virtuemart_paymentmethod_id] {
	border-radius:0;
}	
#vmMainPageOPC div#basket_container .vmsectiontableentry1 {
font-size: 11px !important;
text-transform: none !important;
padding: 5px;
color: #333 !important;
height: 15px !important;
border: 0px solid #CCC;
background: #FFF !important;
font-family: Arial, Verdana, sans-serif !important;
font-weight: normal !important;
clear: both;
}

#vmMainPageOPC div#basket_container .vmsectiontableentry2 {
font-size: 13px !important;
text-transform: none !important;
padding: 5px;
color: #333 !important;
height: 20px !important;
border: 0px solid #CCC !important;
background: #F2F2F2 !important;
font-family: Arial, Verdana, sans-serif !important;
font-weight: normal !important;
clear:both;
}

#vmMainPageOPC div#basket_container hr {
border-color: #eeeeee;
border-style: solid none none;
border-width: 1px 0 0;
height: 1px;
margin: 10px 0;
}

@media (max-width: 767px) {
	#vmMainPageOPC div#basket_container .op_col1_header { width: 50%;}
	#vmMainPageOPC div#basket_container .op_col1{ width:10%; }
	#vmMainPageOPC div#basket_container .op_col2{ 
		width: 40%;	}
		
	#vmMainPageOPC div#basket_container .op_col4,
	#vmMainPageOPC div#basket_container .op_col5{ 
		display: none;
	}
	#vmMainPageOPC div#basket_container .op_col6{ 
		width:35%;
	}
	
	
	#vmMainPageOPC .discount_label{
	width:80%;
	}
	#vmMainPageOPC .discount_desc{
	width:18%;
	}
	#vmMainPageOPC div#basket_cart a.updatebtn, #vmMainPageOPC div#basket_cart a.updatebtn:hover,
	#vmMainPageOPC div#basket_cart input.updatebtn, #vmMainPageOPC div#basket_cart input.updatebtn:hover  {
	left:2%;
	}
}
@media (max-width: 479px) {
	#vmMainPageOPC div#basket_container .op_col2{ 
		width: 45%;	}
	#vmMainPageOPC div#basket_container .op_col7_header{
		width:50%;
		float:left;
		
	}
	#vmMainPageOPC div#basket_cart a.updatebtn, #vmMainPageOPC div#basket_cart a.updatebtn:hover,
	#vmMainPageOPC div#basket_cart input.updatebtn, #vmMainPageOPC div#basket_cart input.updatebtn:hover  {
	left:-10px;
	}
	#vmMainPageOPC .hide_column{
	display:none !important;
	}

}
