/*
*
* @copyright Copyright (C) 2007 - 2010 RuposTel - All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
* One Page checkout is free software released under GNU/GPL and uses code from VirtueMart
* VirtueMart is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* 
*/
#vmMainPageOPC td.unit_column .opc_PricesalesPrice, #vmMainPageOPC td.unit_column .opc_price_general, #vmMainPageOPC .unit_column div.opc_PricesalesPrice span {
 
 text-align: middle; 
 float: left; 
}
#vmMainPageOPC #onepage_userfieds td,#vmMainPageOPC #onepage_useraddresses td {
	width:50%;
}
#vmMainPageOPC #onepage_useraddresses select[name=ship_to_info_id]{
	border-radius:0;
	margin:5px;
	margin-left:10px;
}

#vmMainPageOPC table {
	border: none !important;
}
div#vmMainPageOPC #opc_logged_wrapper legend.sectiontableheader,
div#vmMainPageOPC #opc_unlogged_wrapper legend.sectiontableheader{
	margin-left: 10px !important;
}
span.shipping_error {
 color: red; font-weight: bold; padding-top: 20px;
}
div#onepage_userfieds {
	width: 100%; 
	float: left;
}

td.subtotal_column {
 text-align: right; 
}


#vmMainPageOPC input[type="checkbox"].inputbox {
 height: 15px; 
}
#vmMainPageOPC #opc_basket input[type="text"] {
 max-width: 50px; 
 margin-top: 3px; 
 border: 1px solid #ddd; 
}
div.opc_PricesalesPrice {
 float: right; 
}
div.opc_PricesalesPrice span {
 text-align: right;
}

div#onepage_info_above_button {
	text-align: center; 
	margin: auto;
}
div#onepage_total_inc_sh {
 padding-top: 10px;
}
#vmMainPageOPC div#onepage_submit_section {
	min-width: 350px; 
	max-width: 90%; 
	height: 40px;  
	
	margin-left: auto; 
	margin-right: auto; 
	padding-left: 0; 
	padding-right: 0; 
	position: relative;
	clear: both; 
}
#vmMainPageOPC input#confirmbtn.buttonopc {
	width: 350px; 
	max-width: 80%; 
	height: 40px;  
	padding: 20px;
	margin-left: auto; 
	margin-right: auto; 
	padding-left: 0; 
	padding-right: 0; 
	
}
#vmMainPageOPC .product-field-display {
	margin-bottom: 6px;
}
#vmMainPageOPC .product-field-display label{
	float: left;
	position: relative;
	margin-bottom: 0px;
	text-align: left;
	left: 0;
	top: 0;
	width: 85%;
	}
#vmMainPageOPC .product-fields .product-field input[type=radio] {
	position: relative;
	left: 0px;
	float: left;
	clear:both;
}

div#onepage_login_box {
 padding: 20px; 
 text-align: center; 
 margin-right: auto; 
 margin-left: auto; 
 width: 100%; 
}
div#onepage_login {
 text-align: left; 
 padding-left: 35%;
}
textarea#onepage_tos {
width: 100%;
}

span.bottom_totals_txt {
width: 50%;
text-align: right;
float: left;
}

span.bottom_totals {
/* width: 67%; */
text-align: left;
padding-left: 3%;
float: left;
}

div#totalam {

width: 100%;
clear: both;
float: left;
margin: 0 auto;
}

br.op_clear {
 clear: both;
}

div#tt_order_subtotal_div {
 width: 100%;
 float: left;
 clear: both;
}
div#tt_order_payment_discount_before_div {
 width: 100%;
 display: none;
 
}

div#tt_order_discount_before_div {
 width: 100%;
 display: none;

}

div#tt_shipping_rate_div {
 width: 100%;
 

}
div#tt_shipping_tax_div,
div#tt_tax_total_0_div ,
div#tt_tax_total_1_div ,
div#tt_tax_total_2_div,
div#tt_tax_total_3_div,
div#tt_tax_total_4_div,
div#tt_order_payment_discount_after_div,
div#tt_order_discount_after_div {
 width: 100%;
 display: none;

}

div#tt_total_div {
 width: 100%;

}

select#shipping_inside_basket_select {
 font-family: monospace;
}

select#payment_inside_basket {
 font-family: monospace;
}


#vmMainPageOPC hr {
    border-color: #CCCCCC;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 1px;
}

#vmMainPageOPC td, #vmMainPageOPC tr {
 border: 0 none;
 padding: 3px;  
}


#vmMainPageOPC td {
    font-size: 100%;
    padding: 5px;
}


#vmMainPageOPC #opc_logged_wrapper select[name=virtuemart_paymentmethod_id],
#vmMainPageOPC #opc_unlogged_wrapper select[name=virtuemart_paymentmethod_id]{
	border-radius:0;
}

#vmMainPageOPC  .tabcontent2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #000000;
	clear: both;
}

#vmMainPageOPC  .tabcontent2 {
    margin-top: -1px;
    padding: 0 0 0 0; 
	margin: 0 0 0 0; 
	width: 100%;
}
div#vmMainPageOPC div#customer_note_div {
	padding: 7px;
}
div#vmMainPageOPC div#customer_note_input {
	padding: 7px;
}
#vmMainPageOPC #payment_html,
#vmMainPageOPC #ajaxshipping {
padding-left: 2%;
}
#vmMainPageOPC fieldset {
		/* fallback */
  background: none repeat scroll 0 0 #F5F5F5; 
  
  background: linear-gradient(bottom, rgb(233,233,233) 10%, rgb(245,245,245) 83%);
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#e9e9e9) 10%, to(#f5f5f5) 83%);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(bottom, #e9e9e9 10%, #f5f5f5 83%);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(bottom, #e9e9e9 10%, #f5f5f5 83%);

  /* IE 10 */
  background: -ms-linear-gradient(bottom, #e9e9e9 10%, #f5f5f5 83%);

  /* Opera 11.10+ */
  background: -o-linear-gradient(bottom, #e9e9e9 10%, #f5f5f5 83%);

    border: 1px solid #E7E7E7 !important;
    color: #555555;
    font-family: arial,verdana;
    margin-bottom: 10px !important;
}
#vmMainPageOPC .coupon_input {
 border: none;
 border: 1px solid gray; 
 height: 16px;
 color: gray;
 font-size: 9px;
 min-width: 200px; 
}

#vmMainPageOPC .coupon_input:active, #vmMainPageOPC .coupon_input:focus {
 border: none;
 border: 1px solid gray; 
 height: 16px;
 color: black;
 font-size: 9px;
}

#vmMainPageOPC .coupon_wrapper {
  float: right; 
  margin: 0; 
  padding: 0; 
  clear: both;
}

#vmMainPageOPC .detailsbutton_opc {
  float: right; 
  margin: 0; 
  padding-top: 10px; 
}

#vmMainPageOPC  #opc_basket table .inputbox {
 border: 0 none; 
 min-height: 18px; 
 position: relative; 
 top: -5px; 
 float: left;
width: 30%;
margin-left: 25%;
}


#vmMainPageOPC div.continue_shopping2 {
  margin: 0; 
  padding: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 169px; 
  height: 30px; 
  padding-top: 15px;
  background: transparent url(images/keepshoppping.png) no-repeat left 10px;  
}
#vmMainPageOPC  a.continue_link2:hover, #vmMainPageOPC  a.a.continue_link2:active 
{
 color: black; 
 background: none; 
}
#vmMainPageOPC a.continue_link2, a.continue_link2:hover, a.a.continue_link2:active {
 padding-left: 30px; 
 padding-top: 7px;
 vertical-align: middle;
 color: grey; 
 text-decoration: none;
 text-transform: uppercase;
 font-size: 12px;
 font-weight: bold;
 font-stretch: ultra-condensed;
 background: none; 
}

#vmMainPageOPC .continue_left {
 clear: left; 
 width: 50%; 
 float: left; 
}
#vmMainPageOPC .coupon_right {
  width: 49%; 
  float: left;
  clear: right;   
}
#vmMainPageOPC .continue_and_coupon {
  border: 0 none; 
  margin: 0; 
  padding: 0; 
}

#vmMainPageOPC iframe.tos_iframe {
  width: 90%; 
  margin-left: 5%; 
  margin-right: 5%; 
  padding: 0; 
  height: 200px; 
}


#vmMainPageOPC div.btandst .st_right {
 padding: 0; 
 margin: 0; 
 margin-left: 2%;
 width: 49%; 
 float: left; 
}
#vmMainPageOPC div.btandst .bt_left, div.no_shiptobt_left {
 margin: 0; 
 padding: 0; 
 float: left
}


div.no_shiptobt_left {
 width: 49%; 
}
div.bt_left {
 width: 100%; 
}

#vmMainPageOPC .address_fielset {
 min-height: auto; 
}
#vmMainPageOPC div.btandst {
  margin: 0; 
  padding: 0; 
  width: 100%; 
}

#vmMainPageOPC div#agreed_div {
 width: 100% !important;
 text-align: left;
 margin-left: 5%;
 margin-top: 10px; 
}


#vmMainPageOPC .op_radiowrapper {
 width: 10%;
 float: left; 
 margin: 0; 
 padding: 0; 
 height: 100%; 
 bottom: 45%; 
 left: 0; 
 clear: left; 
 
 }

#vmMainPageOPC .op_labelwrapper {
 width: 85%; 
 float: left; 
 margin: 0; 
 padding: 0;
 clear: right;  
}

#vmMainPageOPC div#staddresses .sectiontableentry1 {
 background: none; 
  
 
}

#vmMainPageOPC div#staddresses .sectiontableentry2 {
 
 background: none; 
 margin-top: 15px;
 
}

.op_field_name {
  width: 35%; 
  padding-right: 5%;
  
  text-align: right; 
  float: left; 
  clear: right;
}

.op_field_value {
 width: 49%; 
 text-align: left; 
 float: left; 
 clear: right; 
}

div#ajaxshipping input[type="radio"], div#payment_html  input[type="radio"] {
 float: left; 
 clear: left; 
}
div#ajaxshipping label, div#payment_html label {
 float: left; 
 clear: right; 
 width: 95%;
 height: auto;
}
div#ajaxshipping label span span, div#payment_html label {
 float: left; 
 clear: right; 
}
div#vmMainPageOPC div#onepage_main_div .formField input[type="checkbox"], div#vmMainPageOPC div#onepage_main_div  .formField input[type="radio"] {
 float: left; 
 clear: right; 
 margin: 0; 
margin-top: 2px;
}
div#vmMainPageOPC input#sachone{
	float:left;
}

div#vmMainPageOPC div#onepage_main_div div#GenderTest_input input[type="radio"]{
 margin-top:5px;
 margin-left:5px;

}
div#vmMainPageOPC div#onepage_main_div div#GenderTest_input label{
line-height: 10px;	
margin-top: 5px;
}
div#vmMainPageOPC div#onepage_main_div  .formField #birthday_field_text{
 margin:0;
}
div#vmMainPageOPC div#onepage_main_div  .formField label {
 float: left; 
 clear: right; 
 margin: 0; 
 margin-left: 5px;
 padding:0;
}

div#vmMainPageOPC .formField br {
 float: left; 
 clear: both; 
}

div#vmMainPageOPC textarea#customer_note_field {
 width: 98%; 
}
div#vmMainPageOPC div#customer_note_input, div.formLabel#customer_note_div {
 width: 100%; 
}

div#vmMainPageOPC input#agreed_field {
 float: left; 
 clear: left; 
}
div#vmMainPageOPC div#agreed_div label,div#agreed_div a  {
 float: left; 
 clear: right; 
}

div#vmMainPageOPC div#opc_unlogged_wrapper .formLabel {
	float:left;
	max-width:220px !important;
	text-align:right !important;
	font-weight: bold !important;
	margin: 2px !important;
	white-space: nowrap !important;
	clear: left;
	vertical-align: middle !important;
	margin-top: 8px !important;
	min-width:33%;
}
div#vmMainPageOPC div.opc_PricesalesPrice, td.subtotal_column {
 white-space:nowrap;
}
div#vmMainPageOPC a.deletebtn, a.deletebtn:hover, a.deletebtn:visited, a.deletebtn:active, #vmMainPageOPC a.deletebtn, #vmMainPageOPC a.deletebtn:hover {
 text-decoration: none; 
 
}
#vmMainPageOPC div.opc_login_btn_wrapper {
width: 100%; margin-left: 0; margin-right:0; padding-left:0; padding-right:0; clear: both;
}
#vmMainPageOPC div.wrap_login div.formLabel {

}

#vmMainPageOPC div.opc_login_button {
text-align: center; margin-right: auto; margin-left: auto;
}

#vmMainPageOPC p.opc_forgot_pwd {
text-align: center; margin-right: auto; margin-left: auto; padding:0; margin-top:0;
}

div#vmMainPageOPC legend {
 max-width: 80%; 
 width: auto; 
 min-width: 30%;
}

div#ajaxshipping label span span.vmCartPaymentLogo {
 float: none;
}
div#ajaxshipping label span span img {
position: relative;
margin-bottom: -40px;
margin-top: -40px;
margin-left: 150px;
}

/* card payment table */
#vmMainPageOPC .vmpayment_cardinfo {
color: gray;
font-size: 9px;
display: block;
padding-left: 5px;
width: 320px;
border-radius: 10px;
border: 1px solid #D6D6D6;
}
#vmMainPageOPC .vmpayment_cardinfo table {
 border: none !important;
 display:block;
 width:300px;
}

#vmMainPageOPC .vmpayment_cardinfo table tr{
 display:block;
 height:30px;
 padding:0;
 padding-bottom:5px;
}

div#onepage_main_div .vmpayment_cardinfo table td {
padding: 0px !important;
width: auto;
min-width: 110px;
max-width: 180px;
height: 30px;
font-size:11px;
line-height: 0px;
margin-bottom: 0 !important;
}
div#onepage_main_div .vmpayment_cardinfo table td label {
	font-size: 11px;
	padding-top: 5px;
}
#vmMainPageOPC div#onepage_main_div .vmpayment_cardinfo table  input[name="cc_cvv_5"]{
	position:relative;
	top:5px;
	}

#vmMainPageOPC div#onepage_main_div .vmpayment_cardinfo table  input[type="text"],
#vmMainPageOPC div#onepage_main_div .vmpayment_cardinfo table td select {
	height:25px;
	padding:0;
	width: auto;
	max-width: 140px;
} 
#vmMainPageOPC div#onepage_main_div  table td select[name="cc_expire_month_5"]{
	width:90px;
	position:relative;
	top:5px;
}

#vmMainPageOPC div#onepage_main_div table td select[name="cc_expire_year_5"]{
	width:58px;
	position:relative;
	top:5px;
}
#cc_cardnumber_errormsg_5{
	color:red;
	position: relative;
	top: -4px;
	white-space: nowrap;
}

/**** end of card payment css  ***/
br{
clear:both;
}

@media screen and (min-width: 480px) and (max-width: 700px) {
#vmMainPageOPC input#confirmbtn.buttonopc {
 margin-left: 0; 
 margin-right: 0; 
 position: absolute; 
 
 right: 0; 
}
#vmMainPageOPC div.continue_left, #vmMainPageOPC div.continue_shopping2 {
 float: right; 
 clear: both; 
}
#vmMainPageOPC div.coupon_right {
 float: right; 
 clear: both; 
}

#vmMainPageOPC input#confirmbtn.buttonopc {
width: 80%; 
left:10%;
}
 .sku_column, .unit_column {
  display: none; 
  visibility: hidden; 
 }
  #vmMainPageOPC .formField {
    width: 100%; 
	min-width: 90%; 
	clear: both; 
  }
  #vmMainPageOPC .bt_left, div.no_shiptobt_left {
   clear: both; 
   width: 100%; 
   margin: 0; 
   padding: 0; 
  }
  #vmMainPageOPC .st_right, #vmMainPageOPC div.btandst .st_right {
   clear: both; 
   width: 100%; 
   margin: 0; 
   padding: 0; 
   display: inline-block; 
  }
  #vmMainPageOPC .address_fielset {
   min-height: 35px; 
  }
 textarea#customer_note_field {
 width: 90%; 
 padding:0; 
 float:left;
 margin:0;
}
#vmMainPageOPC .vmpayment_cardinfo {
	width:280px;
	padding:0;
	border:none;
	}
	div#vmMainPageOPC div#opc_logged_wrapper .formLabel,
	div#vmMainPageOPC div#opc_unlogged_wrapper .formLabel {
	text-align:left !important;
}
}
@media screen and (max-width: 479px){
	#vmMainPageOPC input#confirmbtn.buttonopc {
	left:0%;
}
#vmMainPageOPC div#onepage_submit_section {
	min-width:0;
}
}
