

@media (max-width: 767px) {
  .always-show .mega > .mega-dropdown-menu,
  .always-show .dropdown-menu {
    display: block !important;
    position: static;
  }
  .open .dropdown-menu {
    display: block;
  }
}
.t3-logo,
.t3-logo-small {
  display: block;
  text-decoration: none;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center;
}
.t3-logo {
  width: 182px;
  height: 50px;
}
.t3-logo-small {
  width: 60px;
  height: 30px;
}
.t3-logo,
.t3-logo-color {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-color.png");
}
.t3-logo-small,
.t3-logo-small.t3-logo-color {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-color.png");
}
.t3-logo-dark {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-dark.png");
}
.t3-logo-small.t3-logo-dark {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-dark.png");
}
.t3-logo-light {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-light.png");
}
.t3-logo-small.t3-logo-light {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-light.png");
}
@media (max-width: 767px) {
  .logo-control .logo-img-sm {
    display: block;
  }
  .logo-control .logo-img {
    display: none;
  }
}
@media (min-width: 768px) {
  .logo-control .logo-img-sm {
    display: none;
  }
  .logo-control .logo-img {
    display: block;
  }
}
#community-wrap .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
th,
td {
  line-height: 1.42857143;
  text-align: left;
  vertical-align: top;
}
th {
  font-weight: bold;
}
td,
tr td {
  border-top: 1px solid #dddddd;
}
.cat-list-row0:hover,
.cat-list-row1:hover {
  background: #f5f5f5;
}
.cat-list-row1,
tr.cat-list-row1 td {
  background: #f9f9f9;
}
table.contentpane,
table.tablelist,
table.category,
table.admintable,
table.blog {
  width: 100%;
}
table.contentpaneopen {
  border: 0;
}
.star {
  color: #ffcc00;
}
.red {
  color: #e74c3c;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.wrap {
  width: auto;
  clear: both;
}
.center,
.table td.center,
.table th.center {
  text-align: center;
}
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16.1px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #428bca;
}
.text-warning {
  color: #c09853;
}
.text-danger {
  color: #b94a48;
}
.text-success {
  color: #468847;
}
.text-info {
  color: #3a87ad;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.highlight {
  background-color: #FFC;
  font-weight: bold;
  padding: 1px 4px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
h1 small,
.h1 small {
  font-size: 24px;
}
h2 small,
.h2 small {
  font-size: 18px;
}
h3 small,
.h3 small,
h4 small,
.h4 small {
  font-size: 14px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    content: " ";
    display: table;
  }
  .dl-horizontal dd:after {
    clear: both;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  display: block;
  line-height: 1.42857143;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.btn-actions {
  text-align: center;
}
.features-list {
  margin-top: 60px;
  
}
.features-list .page-header {
  border: 0;
  text-align: center;
}
.features-list .page-header h1 {
  font-size: 46px;
}
.features-list .feature-row {
  overflow: hidden;
  min-height: 200px;
  color: #696f72;
  border-top: 1px solid #e0e2e3;
  padding: 60px 0 0;
  text-align: center;
}
.features-list .feature-row:last-child {
  border-bottom: 1px solid #e0e2e3;
  margin-bottom: 60px;
}
.features-list .feature-row h3 {
  font-size: 28px;
}
.features-list .feature-row div:first-child {
  padding-left: 0;
}
.features-list .feature-row div:last-child {
  padding-right: 0;
}
.features-list .feature-row div:first-child.feature-img img {
  float: left;
}
.features-list .feature-row div:last-child.feature-img img {
  float: right;
}
.jumbotron h2 {
  font-size: 46px;
}
.jumbotron iframe {
  margin-top: 20px;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 20px;
}
.radio label,
.checkbox label {
  display: inline;
}
.form-control-static {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .form-control-static {
  padding-top: 7px;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.inputbox::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.inputbox:-ms-input-placeholder {
  color: #999999;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.inputbox::-webkit-input-placeholder {
  color: #999999;
}
textareaselect,
textareatextarea,
textareainput[type="text"],
textareainput[type="password"],
textareainput[type="datetime"],
textareainput[type="datetime-local"],
textareainput[type="date"],
textareainput[type="month"],
textareainput[type="time"],
textareainput[type="week"],
textareainput[type="number"],
textareainput[type="email"],
textareainput[type="url"],
textareainput[type="search"],
textareainput[type="tel"],
textareainput[type="color"],
textarea.inputbox {
  height: auto;
}
@media screen and (min-width: 768px) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .inputbox {
    width: auto;
  }
}
select,
select.form-control,
select.inputbox,
select.input {
  padding-right: 5px;
}
.input-append .active,
.input-prepend .active {
  background-color: #bbff33;
  border-color: #669900;
}
.invalid {
  border-color: #e74c3c;
}
label.invalid {
  color: #e74c3c;
}
input.invalid {
  border: 1px solid #e74c3c;
}

.dropdown-menu > li > a {
  padding: 5px 20px;
}
.dropdown-header {
  padding: 3px 20px;
  font-size: 14px;
}
.dropdown-header a {
  color: #999999;
}
.dropdown-submenu > a:after {
  border-left-color: #cccccc;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #262626;
}
.nav > li > .separator {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .nav > li > .separator {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.nav .caret {
  border-top-color: #428bca;
  border-bottom-color: #428bca;
}
.nav a:hover .caret {
  border-top-color: #2a6496;
  border-bottom-color: #2a6496;
}
.t3-navhelper {
  background: #f5f5f5;
  border-top: 1px solid #eeeeee;
  color: #666666;
  padding: 5px 0;
}
.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #999999;
}
.breadcrumb .divider {
  display: none;
}
.pagination {
  display: block;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .pagination {
    float: left;
  }
}
.pagination .pagination {
  display: inline-block;
}
.counter {
  display: inline-block;
  margin-top: 20px;
  padding: 6px 12px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .counter {
    float: right;
  }
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title > a {
  color: inherit;
}

.navbar-toggle {
  padding: 0;
  height: 35px;
  line-height: 35px;
  width: 35px;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
@media (min-width: 768px) {
  .navbar-nav {
    margin: 0;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #777777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: rgba(0, 0, 0, 0);
  }
}
.navbar-default .navbar-link {
  color: #777777;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}
.t3-mainnav {
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
  border-radius: 0;
}
.t3-mainnav .t3-navbar {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .t3-mainnav .t3-navbar-collapse {
    display: none !important;
  }
}
.t3-mainnav .t3-navbar-collapse .navbar-nav {
  margin: 0 -15px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav li > a .fa {
  margin-right: 5px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a {
  border-top: 1px solid #e7e7e7;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li:first-child > a {
  border-top: 0;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .dropdown > a .caret {
  position: absolute;
  top: 40%;
  right: 12px;
}

.t3-module {
  background: rgba(0, 0, 0, 0);
  color: inherit;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .t3-module {
    margin-bottom: 40px;
  }
}
.t3-module .module-inner {
  padding: 0;
}
.module-title {
  background: rgba(0, 0, 0, 0);
  color: inherit;
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .module-title {
    margin-bottom: 20px;
  }
}
.module-ct {
  background: rgba(0, 0, 0, 0);
  color: inherit;
  padding: 0;
}
.module-ct:before,
.module-ct:after {
  content: " ";
  display: table;
}
.module-ct:after {
  clear: both;
}
.module-ct > ul,
.module-ct .custom > ul,
.module-ct > ol,
.module-ct .custom > ol {
  margin-left: 20px;
  padding-left: 0;
}
.module-ct > ul.unstyled,
.module-ct .custom > ul.unstyled,
.module-ct > ol.unstyled,
.module-ct .custom > ol.unstyled {
  padding-left: 0;
}
.module-ct > ul.nav,
.module-ct .custom > ul.nav,
.module-ct > ol.nav,
.module-ct .custom > ol.nav {
  padding-left: 0;
  margin-left: 0;
}
.module_menu .nav > li > a,
.module_menu .nav > li > .separator {
  padding: 6px 5px;
  display: block;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
}
#login-form ul.unstyled {
  margin-top: 20px;
  padding-left: 20px;
}
#login-form #form-login-remember label {
  font-weight: normal;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid #eeeeee;
  font-size: 12px;
  padding-top: 10px;
  text-align: right;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #eeeeee;
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #eeeeee;
}
.feed .newsfeed .feed-link,
.feed ul.newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: #eeeeee;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.tagspopular ul > li {
  color: #666666;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.tagspopular ul > li > a {
  background: #eeeeee;
  border-radius: 3px;
  color: #666666;
  display: block;
  padding: 2px 5px;
}
.tagspopular ul > li > a:hover,
.tagspopular ul > li > a:focus,
.tagspopular ul > li > a:active {
  background: #2a6496;
  color: #ffffff;
  text-decoration: none;
}
.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagssimilar ul > li {
  border-bottom: 1px solid #eeeeee;
  padding: 8px 0;
}
.tagssimilar ul > li > a {
  color: #666666;
}
.tagssimilar ul > li > a:hover,
.tagssimilar ul > li > a:focus,
.tagssimilar ul > li > a:active {
  color: #2a6496;
}
.module-ct > ol.breadcrumb {
  padding: 6px 12px;
  margin-left: 0;
}

.items-leading .leading {
  margin-bottom: 40px;
}
.items-row .item {
  margin-bottom: 40px;
}
.divider-vertical {
  margin: 0 0 40px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.article-aside {
  color: #999999;
  font-size: 13px;
  margin-bottom: 20px;
}
.article-info {
  margin: 0;
  width: 85%;
}
.article-info .article-info-term {
  display: none;
}
.article-info dd {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  white-space: nowrap;
}
.article-info dd strong {
  font-weight: bold;
}
.article-footer {
  color: #999999;
  font-size: 12px;
  margin-bottom: 20px;
}
.article-intro img,
.article-content img {
  display: block;
  max-width: 100%;
  height: auto;
}
.article-intro img[align=left],
.article-content img[align=left],
.article-intro .img_caption.left,
.article-content .img_caption.left,
.article-intro .pull-left.item-image,
.article-content .pull-left.item-image {
  margin: 0 20px 20px 0;
}
.article-intro img[align=right],
.article-content img[align=right],
.article-intro .img_caption.right,
.article-content .img_caption.right,
.article-intro .pull-right.item-image,
.article-content .pull-right.item-image {
  margin: 0 0 20px 20px;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  position: relative;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  margin-bottom: 20px;
  max-width: 100%;
}
.img-fulltext-left {
  float: left;
  margin-right: 20px;
}
.img-fulltext-right {
  float: right;
  margin-left: 20px;
}
.img-intro-none img,
.img-intro-left img,
.img-intro-right img,
.img-fulltext-none img,
.img-fulltext-left img,
.img-fulltext-right img {
  margin: 0;
}
.img_caption img {
  margin-bottom: 1px !important;
}
.img_caption p.img_caption {
  background: #eeeeee;
  color: #666666;
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  clear: both;
}
@media screen and (max-width: 767px) {
  article img[align=left],
  .img_caption.left,
  article img[align=right],
  .img_caption.right,
  .img-fulltext-left,
  .img-fulltext-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}
article aside .btn-group > .dropdown-toggle,
article aside .btn-group > .dropdown-toggle:hover,
article aside .btn-group > .dropdown-toggle:active,
article aside .btn-group > .dropdown-toggle:focus {
  padding: 2px 5px;
}
article aside .btn-group > .dropdown-toggle .caret {
  margin-left: 2px;
}
.row-even,
.row-odd {
  padding: 5px;
  width: 99%;
  border-bottom: 1px solid #dddddd;
}
.row-odd {
  background-color: rgba(0, 0, 0, 0);
}
.row-even {
  background-color: #f9f9f9;
}
.blog-row-rule,
.blog-item-rule {
  border: 0;
}
.row-fluid .row-reveal {
  visibility: hidden;
}
.row-fluid:hover .row-reveal {
  visibility: visible;
}
.nav-list > li.offset > a {
  padding-left: 30px;
  font-size: 12px;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
  margin-left: 0;
}
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  border-bottom: 1px solid #dddddd;
  padding: 10px 15px;
}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
  background-color: #f9f9f9;
}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
  background-color: #f5f5f5;
}
.row-striped .row-fluid {
  width: 97%;
}
.row-striped .row-fluid [class*="span"] {
  min-height: 10px;
}
.row-striped .row-fluid [class*="span"] {
  margin-left: 8px;
}
.row-striped .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.list-condensed li {
  padding: 5px 10px;
}
.row-condensed .row,
.row-condensed .row-fluid {
  padding: 5px 10px;
}
.list-bordered,
.row-bordered {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  border: 1px solid #dddddd;
}
.login-wrap .other-links ul {
  padding-left: 15px;
}
.form-register fieldset {
  padding: 0 0 10px;
}
.form-register p {
  margin: 0 0 5px;
}
.form-register p.form-des {
  margin: 15px 0;
}
.form-register label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.form-register .input,
.form-register .inputbox {
  margin-left: 10px;
  width: 200px;
}
.form-register .btn,
.form-register .button {
  margin-left: 140px;
}
.registration fieldset dt {
  margin-right: 5px;
}
.admintable textarea {
  max-width: 90% !important;
  resize: none;
}
.com_mailto body {
  padding: 10px;
}
.com_mailto .t3-mainbody {
  padding-top: 0;
  padding-bottom: 0;
}
.com_mailto .t3-content {
  width: auto;
}
#mailto-window {
  background: #fff;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
}
#mailto-window h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
#mailtoForm .formelm {
  padding: 5px 0;
  vertical-align: middle;
  overflow: hidden;
}
#mailtoForm .formelm label {
  display: inline-block;
  float: left;
  font-weight: bold;
  vertical-align: middle;
  width: 100px;
}
#mailtoForm p {
  margin-top: 20px;
}
#mailtoForm .input,
#mailtoForm .inputbox {
  width: 65%;
}
#mailtoForm .btn,
#mailtoForm .button,
#mailtoForm button {
  margin-right: 5px;
}
.user-details {
  padding: 10px 0;
}
.user-details p {
  margin: 0 0 5px;
}
.user-details label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.user-details .input,
.user-details .inputbox {
  margin-left: 10px;
  width: 200px;
}
.user-details .btn,
.user-details button {
  margin-left: 140px;
}
.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}
.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}
.user-details .user_name span {
  font-weight: bold;
  padding-left: 10px;
}
.reset .form-validate p,
.remind .form-validate p {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
}
.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}
.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}
.profile-edit input {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .profile-edit input {
    float: left;
    width: 50%;
  }
}
.profile-edit select {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .profile-edit select {
    float: left;
    width: 50%;
  }
}
.profile-edit select + button {
  margin-left: 5px;
}
#searchForm:before,
#searchForm:after {
  content: " ";
  display: table;
}
#searchForm:after {
  clear: both;
}
#searchForm fieldset {
  margin: 20px 0;
}
#searchForm legend {
  margin-bottom: 10px;
}
#searchForm select {
  width: auto;
  display: inline-block;
  margin-left: 5px;
  padding-left: 5px;
}
#searchForm .form-limit {
  margin-top: 20px;
}
#searchForm .form-limit .counter {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  #searchForm .radio-inline,
  #searchForm .checkbox-inline {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
.search-results {
  margin-top: 20px;
}
.search-results .result-title {
  font-size: 16px;
  margin-top: 20px;
}
.search-results .result-category {
  font-size: 12px;
  color: #999999;
}
.search-results .result-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.search-results .result-created {
  font-size: 12px;
  color: #999999;
}
div.finder {
  margin-bottom: 20px;
}
.contact .accordion-heading .accordion-toggle {
  font-weight: bold;
}
#archive-items > li {
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
}
#archive-items .intro {
  clear: both;
  overflow: hidden;
}
.categories-list {
  margin-bottom: 20px;
}
.category-item:before,
.category-item:after {
  content: " ";
  display: table;
}
.category-item:after {
  clear: both;
}
.category-item .page-header {
  line-height: normal;
  padding: 10px 5px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.category-item .category-item {
  margin-bottom: 0;
  margin-left: 30px;
}
.category-item .category-item .page-header {
  font-size: 14px;
}
.cat-children .page-header {
  line-height: normal;
  padding: 10px 5px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.newsfeed-category > h2,
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed-category .category-desc,
.newsfeed .category-desc {
  margin-bottom: 20px;
}
.newsfeed-category .category li:before,
.newsfeed .category li:before,
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  content: " ";
  display: table;
}
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  clear: both;
}
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed .feed-description {
  margin-bottom: 20px;
  font-size: 16px;
}
.newsfeed .feed-item-description .feed-description {
  font-size: 14px;
}
.newsfeed ol li > a {
  font-weight: bold;
  font-size: 16px;
}
.article-content .pagination ul {
  border-left: 1px solid #eeeeee;
}
.article-content .pagination li {
  float: left;
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #eeeeee;
  border-left: 0;
}
.article-content .pagination li a {
  border: 0;
  text-decoration: none;
  background-color: transparent;
  line-height: normal;
  padding: 0;
}
.pagenavcounter {
  margin: 0 0 20px;
  font-weight: bold;
}
#article-index,
.article-index {
  margin: 0 0 20px 20px;
  padding: 10px;
  width: 25%;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}
#article-index ul,
.article-index ul {
  margin: 0;
  padding: 0;
  border: 0;
}
#article-index ul > li,
.article-index ul > li {
  border: 0;
  margin-top: 2px;
}
#article-index ul > li > a,
.article-index ul > li > a {
  border: 0;
  padding: 5px;
  border-radius: 4px;
}
#article-index ul > .active > a,
.article-index ul > .active > a {
  border: 0;
  background: #428bca;
  color: #ffffff;
}
#article-index ul > .active > a:hover,
.article-index ul > .active > a:hover,
#article-index ul > .active > a:active,
.article-index ul > .active > a:active,
#article-index ul > .active > a:focus,
.article-index ul > .active > a:focus {
  border: 0;
  background: #428bca;
  color: #ffffff;
}
.pagenav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagenav > li {
  margin: 0;
  padding: 0;
  float: left;
}
.pagenav > li.pagenav-prev,
.pagenav > li.previous {
  margin-right: 10px;
}
.pagenav li > a {
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.pagenav li > a:hover,
.pagenav li > a:active,
.pagenav li > a:focus {
  background-color: #eeeeee;
}
.items-more h3 {
  margin: 0 0 20px;
}
.items-more .nav > li {
  border-top: 1px solid #eeeeee;
}
.items-more .nav > li > a {
  padding: 6px 5px;
}
.back_button a {
  display: block;
  margin: 10px 0;
}
.filters {
  margin: 10px 0 5px;
}
.display-limit {
  margin: 10px 0 5px;
}
.filters .display-limit {
  float: right;
  text-align: right;
}
#system-message dt {
  font-weight: bold;
}
#system-message dd {
  font-weight: bold;
}
#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
  margin: 0;
  padding: 0;
}
#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
  background: none;
  margin: 0;
  padding: 5px;
}
.alert-message {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-message hr {
  border-top-color: #c9e2b3;
}
.alert-message .alert-link {
  color: #356635;
}
.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-notice hr {
  border-top-color: #a6e1ec;
}
.alert-notice .alert-link {
  color: #2d6987;
}
.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #b94a48;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #953b39;
}
.tip-wrap {
  background: #fff6df;
  border: 1px solid #fb3;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 300px;
  z-index: 999;
}
.tip-title {
  border-bottom: 1px solid #fb3;
  font-weight: bold;
  padding: 5px 10px;
}
.tip-text {
  font-size: 14px;
  margin: 0;
  padding: 5px 10px;
}
.hasTip img {
  border: none;
  margin: 0 5px 0 0;
}
@media (min-width: 768px) {
  .languageswitcherload {
    float: right;
    width: 100%;
  }
  .languageswitcherload .mod-languages {
    text-align: right;
  }
}
div.calendar {
  width: 187px;
}
.iframe-bordered {
  border: 1px solid #dddddd;
}
.chzn-container {
  display: block;
}
.chzn-container-single .chzn-single,
.chzn-container-multi .chzn-choices .search-field input,
.chzn-container-single .chzn-search input {
  height: 26px;
}
.chzn-container-single .chzn-drop,
.chzn-container .chzn-drop {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.input-prepend .chzn-container-single .chzn-single {
  border-color: #cccccc;
  height: 26px;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-prepend .chzn-container-active .chzn-single-with-drop {
  border-radius: 0 3px 0 0;
}
.input-prepend .chzn-container-single .chzn-drop {
  border-color: #cccccc;
}
.btn-group .chzn-results {
  white-space: normal;
}

.page-header {
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.page-title,
.page-header h1 {
  line-height: 1;
  margin: 0;
}
.page-subheader {
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 20px;
}
.page-subheader:before,
.page-subheader:after {
  content: " ";
  display: table;
}
.page-subheader:after {
  clear: both;
}
.page-subtitle,
.page-subheader h2 {
  line-height: 1;
  margin: 0;
}
.page-header + .page-subheader {
  margin-top: -20px;
}
.article-title,
.article-header h1 {
  margin: 0 0 20px 0;
}
.item-title {
  font-weight: bold;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
  margin-top: 0;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.container .jumbotron {
  border-radius: 6px;
}
.masthead {
  padding: 40px 0;
  text-align: center;
}
.masthead p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .masthead {
    padding: 80px 0;
  }
  .masthead h1 {
    font-size: 98px;
  }
  .masthead p {
    font-size: 28px;
  }
  .masthead .btn-lg {
    margin-top: 20px;
    padding: 18px 42px;
    font-size: 21px;
  }
}
.label:empty {
  display: none;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.page-header .label,
.page-header .badge {
  vertical-align: middle;
}
.alert h4 {
  color: inherit;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}

body {
  background: #292f38 !important;
  color: #696e6e !important;
}
.header-top {
  background: #fafbfb !important;
  border-top: 4px solid #e74c3c !important;
}
#t3-header {
  background: #f9f9f9 !important;
}
#t3-mainnav {
  background: #323a45 !important;
}
.center-block {
  background: bannerRowBackground !important;
}
#Slider {
  background: #fafbfb !important;
}
#Toprow {
  background: #f9f9f9 !important;
}
.MainRow {
  background: #f9f9f9 !important;
}
#Slider .tp-leftarrow:hover,
#Slider .tp-rightarrow:hover,
.camera_prev:hover,
.camera_next:hover {
  background: #e74c3c;
}
div.not_text,
.poping_links span,
.fleft.log label,
.wrapper_remember label,
.module.phone,
.serchline input,
.top-breadcrumbs span,
.t3-copyright .module,
.prod_desc .navigation_grid,
.paramfilter .heading,
.t3-sidebar .paramfilter .values li label,
#productdetailsview .manufacturer,
#productdetailsview .price .product-price .price-crossed,
.time-box .bzSaleTimer .count_info,
.time-box .price .product-price > span.price-old .PricebasePriceWithTax,
.time-box .price .product-price .text,
#productdetailsview .tags,
.cart-view .label,
.login-wrap.cart-view label,
.order-view #com-form-order-number label,
.order-view .control-group label,
.cart-view .login-box .remember,
.cart-view .text-indent span.font,
.cart-view .text-indent2 span.font,
#compare_list_prod td,
#compare_list_prod td:first-child,
.orders-box tbody td,
.spaceStyle.second .order-box td:first-child,
.orders-box thead th,
.order-items-box .sectiontableheader th,
.order-items-box tr td.priceCol span.line-through,
.order-items-box tr.total .color,
.order-items-box tr.total td.pricePad,
.order-items-box .order-items td.right,
#slideShow .desc1,
#slideShow .time-box .price .price-old .WithoutTax,
#slideShow .time-box .price .text,
div.catItemCategory,
div.catItemCommentsLink,
div.catItemLinks,
div.catItemHeader span.catItemAuthor,
div.catItemHeader span.catItemDateCreated,
div.catItemCategory span,
div.catItemRatingBlock,
div.catItemIntroText,
#k2Container div.catItemRatingBlock span,
.userItemView div.userItemHeader span.userItemDateCreated,
div.userItemIntroText,
.genericItemView div.genericItemHeader span.genericItemDateCreated,
div.genericItemIntroText,
div.catItemCategory,
div.catItemCommentsLink,
div.itemCategory span,
#k2Container .itemAuthor,
#k2Container .catItemCategory,
#k2Container .itemDateCreated,
#k2Container .itemCategory,
div.itemRatingBlock,
#k2Container .itemBody,
div.itemIntroText,
#k2Container .itemNavigation,
div.itemNavigation span.itemNavigationTitle,
div.itemCommentsForm form label,
.t3-sidebar .coments div.k2LatestCommentsBlock ul li span.lcCommentDate,
.k2user #form-login-password label,
.k2user #form-login-username label,
.k2user #form-login-remember label,
.t3-sidebar .latestarticles .module-ct ul li,
.t3-sidebar .allsearch label,
.contact-wrap .width60 .form-horizontal .control-label label,
.homeblog ul li .blog-box .fleft .moduleItemDateCreated,
.homeblog ul li .blog-box .fleft .moduleItemIntro,
.module.menu ul li a {
  color: #696e6e;
}
.order-items-box .color .size.color {
  color: #e74c3c !important;
}
a,
#cur-lang .heading span:first-child,
#Slider .text2,
#Slider .text2.rev,
#Slider .text3,
ul.layout .product-box .Price,
ul.layout2 .product-box .Price,
.pagination ul > li > span,
#product_list ul.layout .product-box .Price,
#product_list ul.layout2 .product-box .Price,
ul.list .VmArrowdown.expanded i.minus,
.listbest .Price,
#productdetailsview .price .product-price span.PricesalesPrice,
.time-box #bzSaleTimerCnt .wrap_time,
.time-box .bzSaleTimerDesc div,
#productdetailsview .time-box .price .product-price > span.price-sale span.PricesalesPrice,
.time-box .price .product-price .price-sale .text,
table.cart-summary .PricebillTotal,
.sectiontableentry1.bg_total,
.sectiontableentry1 .total .PricesalesPrice,
.orders-box tbody td.total,
.spaceStyle.second .order-box td.price,
#slideShow .time-box .price .price-sale span.sales,
#slideShow .time-box .price .price-sale .text,
#k2Container div.itemCommentsForm form span#formLog,
.homeblog ul li .blog-box .moduleItemReadMore,
.success_compare_left .remcompare a,
.success_wishlists_left .remwishlists a,
div#cart_list .fright a.vm2-remove_from_cart,
div#cart_list .total .total2,
#cart_list .tot3,
#cart_list .tot4,
div#vmMainPageOPC div.op_col7 .opc_PricesalesPrice,
div#vmMainPageOPC div.op_col7 span.opc_PricesalesPrice,
div#basket_container div.op_basket_row #tt_total_basket,
div#basket_container div.op_basket_row.total div.op_col1_4,
#tt_total,
#tt_total_txt,
#vmMainPageOPC input.invalid,
.shoper .user-details label.invalid,
#sales_price,
.vm2-add_up i,
.cart-summary.bot-total .red-bold,
ul.layout .product-box div.Title a:hover,
ul.layout2 .product-box div.Title a:hover,
.t3footnav .listbest .Title a:hover {
  color: #e74c3c;
}
.module.menu ul li a:hover,
.jcarousel-container .jcarousel-prev.jcarousel-prev-disabled:hover span,
.jcarousel-container .jcarousel-next.jcarousel-next-disabled:hover span,
.k2ReadMore:hover,
.userItemView .k2ReadMore:hover,
.homeblog ul li .blog-box .moduleItemReadMore:hover,
.success_compare_left .remcompare a:hover,
.success_wishlists_left .remwishlists a:hover,
.order-items-box .order-link:hover,
.vm2-add_up:hover i {
  color: #292f38;
}
body input.inputbox,
h3.module-title,
.order h3,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.button-log .Forgot li a,
.module.phone span,
#cur-lang .heading,
#cur-lang.header-button-compare .heading i,
#cur-lang.header-button-wishlist .heading i,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a,
#t3-mainnav .t3-megamenu .mega-nav > li a,
#Slider .text1,
#Slider .text4,
.top-breadcrumbs a,
ul.layout .product-box .Title a,
ul.layout .product-box .add_wishlist,
ul.layout .product-box .add_compare,
ul.layout2 .product-box .Title a,
ul.layout2 .product-box .add_wishlist,
ul.layout2 .product-box .add_compare,
.owl-prev,
.owl-next,
.cat_row a,
.orderlistcontainer div.activeOrder,
.Results .jq-selectbox,
.navigation_grid a i,
#product_list.list ul.layout .product-box .Title a,
#product_list.list ul.layout .product-box .vote,
#product_list.list ul.layout2 .product-box .Title a,
#product_list.list ul.layout2 .product-box .vote,
#product_list.list .fa-tags,
#product_list.list .product_tags a,
.t3-sidebar .module-ct ul > li a,
.t3-sidebar ul.list > li a,
.t3-sidebar ul.list li.parent li a,
.t3-sidebar ul.list li.parent li.parent li a,
ul.list .VmArrowdown i,
.btn_compare,
.btn_wishlist,
#mod_wishlists .name a,
#mod_compare .name a,
#mod_compare .remcompare a,
#mod_wishlists .remwishlists a,
.listbest .Title a,
.mod_tagsvm2 a,
.t3-sidebar .paramfilter .values li label .count,
.paramfilter a.reset,
.fullreset,
.jcarousel-container .jcarousel-next span,
.jcarousel-container .jcarousel-prev span,
.jcarousel-container .jcarousel-prev.jcarousel-prev-disabled span,
.jcarousel-container .jcarousel-next.jcarousel-next-disabled span,
#productdetailsview .fright h1,
#productdetailsview .manufacturer a,
.time-box .countdown_section,
.time-box .countdown_amount,
#productdetailsview .jq-selectbox,
#productdetailsview .product-box2 .addtocart-bar2 .quantity-box input,
#productdetailsview .product-box2 .add_wishlist,
#productdetailsview .product-box2 .add_compare,
#productdetailsview .product-box2 .ask-a-question .ask-question2,
.accordion-heading a.accordion-toggle.collapsed,
.productdetails-view.layout2 .responsive-tabs__list__item,
#productdetailsview .tags .product-field-display a,
.product-related-categories .product-field .product-field-display a,
.product-neighbour ul.pagers a,
.recentproducts li,
.cart-view .login-box a.reset,
.cart-view .login-box a.remind,
.cart-view .login-box a.reset,
.cart-view .login-box a.remind,
.cart_form .vm2-add_quantity_cart,
.cart_form .vm2-remove_from_cart,
.shoper .jq-selectbox,
.wishlist_box .remwishlists a,
.wishlist_box .addtocart-bar2 .quantity-box input,
#compare_list_prod .comare_name a,
#compare_list_prod .addtocart-bar2 .quantity-box input,
.comare_action .compare_del,
.manufacturer-view-default .row_man h2 a,
.manufacturer_details_view .manufacturer-email a,
.manufacturer_details_view .manufacturer-url a,
.manufacturer_details_view .manufacturer-product-link a,
.orders-box tbody td.num a,
.order-items-box tr td.priceCol span,
.order-items-box tr.total td,
.order-items-box tr .color2,
.shoper #tabs li,
#slideShow .Title a,
#slideShow .add_wishlist,
#slideShow .add_compare,
.K2ItemsRow h2.module-title,
.K2ItemsRow h2.module-title a,
.K2ItemsRow .catItemAuthor a,
div.catItemCategory a,
div.catItemCommentsLink a,
#k2Container h2.itemTitle,
#k2Container h2.itemTitle a,
#k2Container .itemAuthor a,
#k2Container div.catItemCategory a,
#k2Container div.itemDateCreated a,
#k2Container .itemCategory a,
#k2Container .itemToolbar a,
.itemAuthorLatest ul li a,
#k2Container .itemNavigation a,
div.itemCommentsForm form textarea.inputbox,
div.itemBackToTop a,
.search .page-title,
#url,
.contact-address dt span,
#onepage_main_div .jq-selectbox,
.homeblog ul li .blog-box .fleft .moduleItemTitle,
.success_compare_left .title a,
.success_wishlists_left .title a,
#askform input,
#comment,
div.other-links li a,
.ask-a-question-view #Comment,
.panel-heading a.accordion-toggle.collapsed,
div.tooltip-inner {
  color: #292f38;
}
.button-log .Forgot li a:hover,
.module.menu ul li a:hover,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a:hover,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a:focus,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a:hover,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a:focus,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a:hover,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a:focus,
#t3-mainnav .t3-megamenu .mega-nav > li a:hover,
#t3-mainnav .t3-megamenu .mega-nav > li.open > a,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li a:hover,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li.active > a,
#t3-mainnav .t3-megamenu .mega-nav > li a:focus,
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li a:focus,
.top-breadcrumbs a:hover,
ul.layout2 .product-box .add_wishlist:hover,
ul.layout2 .product-box .add_wishlist.active,
ul.layout2 .product-box .add_wishlist:focus,
ul.layout2 .product-box .add_compare:hover,
ul.layout2 .product-box .add_compare.active,
ul.layout2 .product-box .add_compare:focus,
#t3-footer .menu.nav li:hover a,
#t3-footer .menu.nav li.active a,
#t3-footer .menu.nav li:hover > i,
#t3-footer .menu.nav li.active > i,
.cat_row:hover a,
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
#product_list.list ul.layout .product-box .Title a:hover,
#product_list.list ul.layout2 .product-box .Title a:hover,
#product_list.list .product_tags a:hover,
.t3-sidebar .module-ct ul > li a:hover,
.t3-sidebar ul.list > li a:hover,
.t3-sidebar ul.list > li.active a,
.t3-sidebar ul.list li li a:hover,
.t3-sidebar ul.list > li.parent li.active a,
.t3-sidebar ul.list li.parent li.parent li a:hover,
.t3-sidebar ul.list > li.parent li.parent li.active a,
.btn_compare:hover,
.btn_wishlist:hover,
#mod_wishlists .name a:hover,
#mod_compare .name a:hover,
#mod_wishlists .name a:hover,
#mod_compare .name a:hover,
#mod_compare .remcompare a:hover,
#mod_wishlists .remwishlists a:hover,
.listbest .Title a:hover,
.mod_tagsvm2 a:hover,
.paramfilter a.reset:hover,
.fullreset:hover,
.fullreset:focus,
#productdetailsview .addtocart-bar2 .quantity-controls .quantity-plus:hover,
#productdetailsview .addtocart-bar2 .quantity-controls .quantity-minus:hover,
#productdetailsview .tags .product-field-display a:hover,
.cat_row:hover a,
.product-related-categories .product-field .product-field-display:hover a,
#productdetailsview .manufacturer a:hover,
.recentproducts li a:hover,
.cart-view .login-box a.reset:hover,
.cart-view .login-box a.remind:hover,
.cart_form .vm2-add_quantity_cart:hover,
.cart_form .vm2-remove_from_cart:hover,
.cart-summary .sectiontableentry1.shipment td a:hover,
.cart-summary .sectiontableentry1.payment td a:hover,
.cart-summary .sectiontableentry1.bg_total td:first-child,
.wishlist_box .remwishlists a:hover,
.wishlist_box .addtocart-bar2 .quantity-controls .quantity-plus:hover,
.wishlist_box .addtocart-bar2 .quantity-controls .quantity-minus:hover,
#compare_list_prod .comare_name a:hover,
#compare_list_prod .comare_price span.PricesalesPrice,
#compare_list_prod .addtocart-bar2 .quantity-controls .quantity-plus:hover,
#compare_list_prod .addtocart-bar2 .quantity-controls .quantity-minus:hover,
.comare_action .compare_del:hover,
.manufacturer-view-default .row_man h2 a:hover,
.manufacturer_details_view .manufacturer-email a:hover,
.manufacturer_details_view .manufacturer-url a:hover,
.manufacturer_details_view .manufacturer-product-link a:hover,
.orders-box tbody td.num a:hover,
#slideShow .Title a:hover,
.K2ItemsRow .catItemAuthor a:hover,
div.catItemCategory a:hover,
div.catItemCommentsLink a:hover,
#k2Container .itemAuthor a:hover,
#k2Container div.catItemCategory a:hover,
#k2Container div.itemDateCreated a:hover,
#k2Container .itemCategory a:hover,
#k2Container .itemToolbar a:hover,
.itemAuthorLatest ul li a:hover,
#k2Container .itemNavigation a:hover,
div.itemBackToTop a:hover,
.homeblog ul li .blog-box .fleft .moduleItemTitle:hover,
.success_compare_left .title a:hover,
.success_wishlists_left .title a:hover,
div.other-links li a:hover,
ul.layout2 .product-box .Title a:hover,
#k2Container h2.itemTitle a:hover,
.serchline .sropen:hover,
.serchline .srclose:hover,
#sachoneL:hover,
.cart-summary .cart-title a:hover,
#t3-header.style2 .serchline form .button:hover {
  color: #e74c3c;
}
#t3-mainnav .navbar-nav > li > a:hover,
#t3-mainnav .navbar-nav > li > a:focus,
#t3-mainnav .navbar-nav > li > span:hover,
#t3-mainnav .navbar-nav > li > span:focus,
#t3-mainnav .navbar-nav > .active > a,
#t3-mainnav .navbar-nav > .active > a:hover,
#t3-mainnav .navbar-nav > .active > a:focus,
#t3-mainnav .navbar-nav > .active > span,
#t3-mainnav .navbar-nav > .active > span:hover,
#t3-mainnav .navbar-nav > .active > span:focus,
#t3-mainnav .navbar-nav > .open > a,
#t3-mainnav .navbar-nav > .open > a:hover,
#t3-mainnav .navbar-nav > .open > a:focus,
#t3-mainnav .navbar-nav > .open > span,
#t3-mainnav .navbar-nav > .open > span,
#t3-mainnav .navbar-nav > .open > span {
  background: #e74c3c !important;
}
div.ac_result {
  border-top: 3px solid #e74c3c !important;
}
#t3-mainnav .dropdown-menu {
  border-top: 3px solid #e74c3c !important;
}
#t3-mainnav .dropdown-menu .dropdown-menu {
  border-left: 3px solid #e74c3c !important;
  border-top: none !important;
}
#t3-mainnav .dropdown-menu:before {
  border-bottom: 8px solid #e74c3c;
}
#t3-mainnav .dropdown-menu .dropdown-menu:before {
  border-right: 8px solid #e74c3c;
}
.productdetails-view.layout2 .responsive-tabs__heading:afte,
div#cart_list {
  border-color: #c0392b !important;
}
#vmMainPageOPC input.invalid,
.shoper .user-details input.invalid,
#cart-view-default table.adminform input.invalid {
  border: 2px solid #c0392b;
}
#vmCartModule,
#vmCartModule:hover span.cart_num a,
#vmCartModule.act span.cart_num a,
.camera_wrap .camera_pag .camera_pag_ul li:hover,
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent,
.owl-prev:hover,
.owl-next:hover,
.navigation_grid .Clist:hover,
.navigation_grid .Clist.active,
.navigation_grid .Cgrid:hover,
.navigation_grid .Cgrid.active,
ul.list .VmArrowdown:hover,
.paramfilter .slider_active,
.jcarousel-container .jcarousel-next:hover,
.jcarousel-container .jcarousel-prev:hover,
#back-top a:hover,
div#slideShow .space_tabs li.space_here a,
div#slideShow .space_tabs li:hover a {
  background: #e74c3c;
}
#cur-lang.header-button-compare .heading span,
#cur-lang.header-button-wishlist .heading span {
  background: #e74c3c !important;
}
#vmCartModule:hover span.cart_num a,
#vmCartModule.act span.cart_num a {
  background: #e74c3c !important;
}
.button,
.addtocart-button,
.vm-button-correct,
.k2user .button {
  background: #e74c3c !important;
  border-bottom: 2px solid #c0392b !important;
}
.button.reset:hover,
.button.reset:focus {
  background: #e74c3c !important;
  border-bottom: 2px solid #c0392b !important;
}
div#cart_list {
  border-top: 3px solid #e74c3c !important;
}
#vmCartModule #cart_list i.fa-sort-desc {
  color: #e74c3c;
}
#t3-footer aside.t3footnav {
  background: #323a45;
}
#t3-footer .t3-copyright {
  background: #292f38;
}
input::-moz-placeholder {
  color: #292f38;
}
input::-webkit-input-placeholder {
  color: #292f38;
}
input::-ms-input-placeholder {
  color: #292f38;
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.inputbox::-moz-placeholder {
  color: #292f38;
}
.t3-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .logo {
    text-align: left;
  }
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-text a {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.head-search {
  margin-top: 20px;
}
.head-search:before,
.head-search:after {
  content: " ";
  display: table;
}
.head-search:after {
  clear: both;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .search {
  position: relative;
}
.head-search .search:before {
  font-family: "FontAwesome";
  content: "\f002";
  display: block;
  position: absolute;
  left: 10px;
  top: 6px;
  color: #666666;
}
@media screen and (min-width: 768px) {
  .head-search .search {
    float: right;
  }
}
.head-search .form-control {
  width: 100%;
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .head-search .form-control {
    width: 150px;
  }
  .head-search .form-control:focus {
    width: 200px;
  }
}
.t3-sl {
  padding-bottom: 40px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .t3-sl {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.t3-mainbody {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-footer {
  border-top: 1px solid #eeeeee;
  background: #f8f8f8;
  color: #666666;
}
.t3-footer:before,
.t3-footer:after {
  content: " ";
  display: table;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footnav {
  padding: 20px 0;
}
.t3-footnav:before,
.t3-footnav:after {
  content: " ";
  display: table;
}
.t3-footnav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .t3-footnav {
    padding: 40px 0;
  }
}
.t3-footnav .t3-module {
  background: #f8f8f8;
  color: #666666;
  margin-top: 10px;
  margin-bottom: 10px;
}
.t3-footnav .t3-module .module-title {
  color: #333333;
  font-size: 18px;
  margin-bottom: 10px;
}
.t3-footnav .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.t3-footnav .t3-module ul > li {
  line-height: 24px;
}
.t3-footnav .t3-module ul > li > a {
  color: #666666;
}
.t3-footnav .t3-module ul > li > a:hover,
.t3-footnav .t3-module ul > li > a:active,
.t3-footnav .t3-module ul > li > a:focus {
  color: #666666;
}
.t3-copyright {
  border-top: 1px solid #eeeeee;
  font-size: 12px;
  padding: 40px 0 80px;
}
.t3-copyright:before,
.t3-copyright:after {
  content: " ";
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright small {
  margin-bottom: 5px;
}
.copyright {
  margin-bottom: 20px;
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}
@media screen and (min-width: 991px) {
  .poweredby {
    text-align: right;
  }
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  opacity: .8;
  display: inline-block;
}
.top-breadcrumbs .breadcrumb > li + li:before {
  content: "\f105";
}
